.latest-projects {
	&__inner {
		max-width: $width--full;
	}

	&__preheading {
		color: $color-lemon;
		text-align: center;
	}

	&__header {
		display: block;
	}

	&__heading {
		font-weight: 700;
	}

	.swiper-pagination {
		.swiper-pagination-bullet {
			opacity: 1;
		}

		@include media(xl) {
			margin-top: 90px !important;
		}
	}
}
