extends templates/main-dark
block variables
	- let pageTitle = 'Liarch - Architecture & Interior HTML Template';
	- let isHome = true; //- Если true то логотип не будет ссылкой
	- let currentIndex = 1; // Для каждой страницы(раздела) уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню

block content
	include modules/an-awards
	include modules/our-story
	include modules/type-service
	include modules/latest-projects
	include modules/review
	include modules/partners
	include modules/article-list


block footer
	include modules/footer
