extends templates/main-dark
block variables
	- let pageTitle = 'Liarch - Architecture & Interior HTML Template - about 2';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let currentIndex = 3; // Для каждой страницы(раздела) уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню

block content
	include modules/an-awards-2
	include modules/our-story-2
	include modules/type-service
	include modules/rewards
	include modules/review
	include modules/partners-2
block footer
	include modules/footer
