extends templates/main.pug
block variables
	- let pageTitle = 'Liarch - Architecture & Interior HTML Template';
	- let isHome = true; //- Если true то логотип не будет ссылкой
	- let currentIndex = 1;

block content
	.container
		| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, necessitatibus, ex aliquid assumenda architecto totam iure veniam rerum enim eum molestias deleniti reiciendis odit dolorum alias sed libero iste unde sapiente aperiam earum fugit. Aliquid, consequuntur. Itaque nemo nihil adipisci praesentium sed cum quibusdam culpa fuga, accusantium tempore corporis, atque dolorem harum molestiae eaque. Optio vel quo ea distinctio quas maxime. Est consectetur voluptatum eaque quo beatae qui? Sapiente sit, tempore nam explicabo optio accusamus sunt, id dolorum aspernatur laboriosam tenetur magnam necessitatibus vero molestias, deserunt temporibus? Non, blanditiis, quia iste adipisci quos repellat, et dolores sapiente nisi nihil porro! Aperiam nihil iure quia voluptas doloremque atque sed!

block footer
	include modules/footer.pug
