extends templates/main

block variables
	- let pageTitle = 'Liarch - Architecture & Interior HTML Template | Home Parallax Dark';
	- let isHome = true; //- Если true то логотип не будет ссылкой
	- let isDark = true;
	- let currentPage = 1.09; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 1; // // Для каждой раздела уникален. Home -1, about - 2, works - 3, news - 4, pages - 5

block header
	include modules/header-3
	include modules/menu
block content
	#pagepiling.homepage-parallax

		// Awards
		section.section.pp-scrollable.an-awards.an-awards--parallax(style="background-image: url(\"img/an-awards-bg.jpg\")")
			.scroll-wrap
				.container.an-awards__container
					.swiper-container.__js_slider-awards
						.swiper-wrapper
							.row.align-items-center.swiper-slide
								.an-awards__content.col-12.col-md.col-lg-6
									.an-awards__welcome welcome to <br> liarch architecture studio
									h1.an-awards__heading.heading.heading--h1 An-Awards <br> winning architects company
									.an-awards__text Like any great agency, we are only as good as the <br> result we deliver of our recent work
									.an-awards__buttons
										a.btn(href= URLS.works.grid) our projects
							.row.align-items-center.swiper-slide
								.an-awards__content.col-12.col-md.col-lg-6
									.an-awards__welcome welcome to <br> liarch architecture studio
									h1.an-awards__heading.heading.heading--h1 An-Awards <br> winning architects company 2
									.an-awards__text Like any great agency, we are only as good as the <br> result we deliver of our recent work
									.an-awards__buttons
										a.btn(href= URLS.works.grid) our projects
							.row.align-items-center.swiper-slide
								.an-awards__content.col-12.col-md.col-lg-6
									.an-awards__welcome welcome to <br> liarch architecture studio
									h1.an-awards__heading.heading.heading--h1 An-Awards <br> winning architects company 3
									.an-awards__text Like any great agency, we are only as good as the <br> result we deliver of our recent work
									.an-awards__buttons
										a.btn(href= URLS.works.grid) our projects
						.slide-counter
					button(class="arrow-square arrow-square--prev")
						svg
							use(xlink:href="#arrow-angle")
					button(class="arrow-square arrow-square--next")
						svg
							use(xlink:href="#arrow-angle")

		// Our story
		section.section.pp-scrollable.our-story.our-story--parallax.dark
			.scroll-wrap
				.our-story__inner.container
					.row
						.our-story__intro.col-12.col-md.col-lg-6
							.our-story__image
								img(src="img/man-with-apple.png", width="706", height="811" alt="")
						.our-story__content.col-12.col-md.col-lg-6
							h2.our-story__heading.heading Let Us Help Building Your Dream
							.our-story__text.our-story__text--style-bolditalic
								| “Over 25 years Liarch helping investors building their dream & business goals go to
								| the perfection” <span>- Thiago Alcantara</span>
							.our-story__text
								| Over the years, we have worked with Fortune 500s and brand-new startups.. We help ambitious
								|  businesses like yours generate more profits by
								|  building awareness, driving web traffic, connecting with customers, and growing overall sales. <br> Give us a call.
							.our-story__buttons
								a.our-story__btn.btn.btn--outline(href= URLS.about.default) Learn More
								.our-story__video-btn.video-btn
									a.video-btn__btn.fancybox(href="#ourStory")
										span.visually-hidden Play
										+icon('play')(width="20", height="20")
									span.video-btn__text view our story

		// Type service
		section.section.pp-scrollable.type-service.type-service--parallax.dark
			.scroll-wrap
				.container
					h2.type-service__heading.heading Best solutions for your dream

					ul.type-service__list.row
						li.type-service__item.col-12.col-md
							a(href= URLS.pages.serviceDetail)
								.type-service__item-icon.type-service__item-icon--interior
									+icon('ruler-pencil')(width="49", height="49")
								h3.type-service__item-heading Architecture & Interior
								.type-service__item-text Architecture Design, Interior Design, Landscape Design, Commercial, Residential, 3D Visualization
								.type-service__item-link 256 projects

						li.type-service__item.col-12.col-md
							a(href= URLS.pages.serviceDetail)
								.type-service__item-icon.type-service__item-icon--design
									+icon('vector')(width="49", height="49")
								h3.type-service__item-heading Design & Photography
								.type-service__item-text Web Design, Mobile App Design, 3D Design, CGI, Character, Motion, Photography
								.type-service__item-link 64 projects

						li.type-service__item.col-12.col-md
							a(href= URLS.pages.serviceDetail)
								.type-service__item-icon.type-service__item-icon--furniture
									+icon('package')(width="49", height="49")
								h3.type-service__item-heading Furniture Products Production
								.type-service__item-text Sofa, Chair, Wood Furnitures, Shelf, Bed, Decoration, Structure, Celling, Flooring, Walls
								.type-service__item-link 8,256 items

		// Works
		section.section.pp-scrollable.works.works--parallax.dark
			.scroll-wrap
				.works__slider-wrapper
					.slide-counter-2
					button(class="works-arrow works-arrow--prev")
						svg
							use(xlink:href="#arrow-angle")
					button(class="works-arrow works-arrow--next")
						svg
							use(xlink:href="#arrow-angle")
					.works__slider.slider--single.swiper-container.__js_slider-single-2
						.swiper-wrapper
							.slider__item.swiper-slide
								img(src="img/slider/slide-1.jpg", alt="")
								.slide__content.slide-content
									.slide-content__detail 2020  -  Kiev, Ukraine
									.slide-content__heading
										a(href= URLS.works.singleStandart) Cubic Blockes Hotel

							.slider__item.swiper-slide
								img(src="img/slider/slide-2.jpg", alt="")
								.slide__content.slide-content
									.slide-content__detail 2020  -  Belgium
									.slide-content__heading
										a(href= URLS.works.singleStandart) Dogel Nord Station

							.slider__item.swiper-slide
								img(src="img/slider/slide-3.jpg", alt="")
								.slide__content.slide-content
									.slide-content__detail 2019  -  Vancouver, Canada
									.slide-content__heading
										a(href= URLS.works.singleStandart) Cabin Wood In Forest

							.slider__item.swiper-slide
								img(src="img/slider/slide-4.jpg", width="1145", height="650", alt="")
								.slide__content.slide-content
									.slide-content__detail 2019  -  Iasi, Romania
									.slide-content__heading
										a(href= URLS.works.singleStandart) Daniel Villa, Romania
					a.works__all(href= URLS.works.grid) all projects

		// Approach
		section.section.pp-scrollable.approach.approach--parallax.dark
			.scroll-wrap
				.approach__inner.container
					h2.approach__heading.heading Our Approach
					.row
						.col-12.col-lg-4
							.approach__card
								.approach__card-icon
									+icon('ticket-alt')(width="48", height="48")
								h3.approach__card-heading Surveys and Quotes
								.approach__card-text Our team will survey your project, collect infor & build quotes
						.col-12.col-lg-4
							.approach__card
								.approach__card-icon
									+icon('bricks')(width="48", height="48")
								h3.approach__card-heading Design and Performance
								.approach__card-text We design best solutions and then performance it based on design
						.col-12.col-lg-4
							.approach__card
								.approach__card-icon
									+icon('customer')(width="48", height="48")
								h3.approach__card-heading Handover and Support
								.approach__card-text After complete project, we will handover full & support 2 years

		// Review
		section.section.pp-scrollable.review.review--parallax.dark
			.scroll-wrap
				.review__inner.container
					.row
						.review__image.col-12.col-md-7
							each item in REVIEW_IMAGES
								span(class="review__image-author review__image-author--" + item.mod)
									img(src="img/review/" + item.name + ".jpg", width= item.w, height= item.h, alt="")

						.review__content.col-12.col-md-5.align-self-center
							.review__text I don’t know what else to say, this is something that you haven’t seen before. Unique design, impressive, and outstanding support. Liarch always a pleasure to work!

							.review__author
								.review__author-name Laura Lorewnce
								.review__author-detail Director at <span>Cubic Hotel, Ukranie</span>

		// Contacts
		section.section.pp-scrollable.contacts-parallax.dark
			.scroll-wrap
				.container
					.row
						.col-12.col-lg-6
							.contact-block
								h2.contact-block__title Brooklyn, <span>New York</span>
								address.contact-block__address 962 Fifth Avenue Str, 3rd Floor-Trump Building NY 10006, United State.
								.contact-block__email
									span.contact-block__hint Email:
									a(href="mailto:infor@liarchstudio.co") infor@liarchstudio.co
								.contact-block__phone
									span.contact-block__hint Call directly:
									a(href="tel:+86631250859") +8(663)125-08-59
								.contact-block__offices
									span.contact-block__hint Brand Offices:
									.contact-block__offices-list
										a.contact-block__offices-item(href="#") Allentown PA
										a.contact-block__offices-item(href="#") Allanta, GA
										a.contact-block__offices-item(href="#") Chicago, IL
										a.contact-block__offices-item(href="#") Dallas, TX,
										a.contact-block__offices-item(href="#") Edison, NJ
										a.contact-block__offices-item(href="#") Houston, TX
						.col-12.col-lg-6
							.feedback-form__title Contact us

							// Feedback form
							form.contacts-parallax__feedback.feedback-form.js-form-validate(action="php/mail.php", method="post")
								label.contacts-parallax__field.field.field--bordered(aria-label="Your name")
									input(type="text", name="name", placeholder="Your name *" required)
								.field-error(style='display: none')
								label.contacts-parallax__field.field.field--bordered(aria-label="Email Address")
									input(type="email", name="email", placeholder="Email Address *" required)
								.field-error(style='display: none')
								label.contacts-parallax__field.field.field--bordered(aria-label="Subject")
									input(type="text", name="subject", placeholder="Subject (optional)")
								label.contacts-parallax__field.field.field--bordered(aria-label="Your Message")
									textarea(name="message", placeholder="Your Message *" required)
								.field-error(style='display: none')
								button.contacts-parallax__btn.btn(type="submit") Send Message



block footer
	include modules/footer-3
