.container
	ul.mt-10
		li
			a(href="homepage.html") Главная - homepage.html
		li
			a(href="works.html") Works - works.html
		li
			a(href="works-2.html") Works 2 - works-2.html
		li
			a(href="works-masonry.html") Works masonry - works-masonry.html
		li
			a(href="works-listing.html") Works listing - works-listing.html
		li
			a(href="works-carousel.html") Works carousel - works-carousel.html
		li
			a(href="works-carousel-2.html") Works carousel 2 - works-carousel-2.html
		li
			a(href="single-project.html") Single project standart - single-project.html
		li
			a(href="single-project-minimalist.html") Single project minimalist - single-project-minimalist.html
		li
			a(href="single-project-sidebar.html") Single project with sidebar - single-project-sidebar.html
		li
			a(href="about.html") About - about.html
		li
			a(href="about-2.html") About 2 - about-2.html
		li
			a(href="news-list.html") News list - news-list.html
		li
			a(href="news-list-2.html") News list 2 - news-list-2.html
		li
			a(href="post-sb.html") Post with sidebar - post-sb.html
		li
			a(href="post.html") Post without sidebar - post.html
		li
			a(href="news-masonry.html") News masonry - news-masonry.html
		li
			a(href="news-sb.html") News with sidebar - news-sb.html
		li
			a(href="page-404.html") 404 - page-404.html
		li
			a(href="pricing.html") Pricing & Plan - pricing.html
		li
			a(href="services.html") Services - services.html
