extends templates/titular
block variables
	- let pageTitle = 'Liarch - Architecture & Interior HTML Template - about 2';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let currentIndex = 3; // Для каждой страницы(раздела) уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню

block content
	.container
		.row
			.col-12.col-md-4
				h3 Светлая тема
				ul.mt-10
					li
						a(href="homepage.html") Homepage - homepage.html
					li
						a(href="homepage-menu.html") Homepage with menu - homepage-menu.html
					li
						a(href="homepage-parallax.html") Главная 2 - homepage-parallax.html
					li
						a(href="homepage-visual-white.html") Homepage visual white - homepage-visual-white.html
					li
						a(href="works.html") Works - works.html
					li
						a(href="works-2.html") Works 2 - works-2.html
					li
						a(href="works-masonry.html") Works masonry - works-masonry.html
					li
						a(href="works-listing.html") Works listing - works-listing.html
					li
						a(href="works-carousel.html") Works carousel - works-carousel.html
					li
						a(href="works-carousel-2.html") Works carousel 2 - works-carousel-2.html
					li
						a(href="single-project.html") Single project standart - single-project.html
					li
						a(href="single-project-minimalist.html") Single project minimalist - single-project-minimalist.html
					li
						a(href="single-project-sidebar.html") Single project with sidebar - single-project-sidebar.html
					li
						a(href="about.html") About - about.html
					li
						a(href="about-2.html") About 2 - about-2.html
					li
						a(href="about-30.html") About 30 - about-30.html
					li
						a(href="contacts.html") Contacts - contacts.html
					li
						a(href="contacts-2.html") Contacts 2 - contacts-2.html
					li
						a(href="news-list.html") News list - news-list.html
					li
						a(href="news-list-2.html") News list 2 - news-list-2.html
					li
						a(href="post-sb.html") Post with sidebar - post-sb.html
					li
						a(href="post.html") Post without sidebar - post.html
					li
						a(href="news-masonry.html") News masonry - news-masonry.html
					li
						a(href="news-sb.html") News with sidebar - news-sb.html
					li
						a(href="page-404.html") 404 - page-404.html
					li
						a(href="pricing.html") Pricing & Plan - pricing.html
					li
						a(href="services.html") Services - services.html
					li
						a(href="service-detail.html") Service detail - service-detail.html
					li
						a(href="team.html") Team - team.html
					li
						a(href="launch-page.html") Launch page - launch-page.html
					li
						a(href="works-grid-3.html") Works grid 3 - works-grid-3.html

			.col-12.col-md-4
				h3 Темная тема
				ul.mt-10
					li
						a(href="dark-homepage.html") Homepage - dark-homepage.html
					li
						a(href="dark-homepage-menu.html") Homepage with menu - dark-homepage-menu.html
					li
						a(href="homepage-parallax-dark.html") Главная 2 темная тема - homepage-parallax-dark.html
					li
						a(href="dark-works.html") Works - dark-works.html
					li
						a(href="dark-works-2.html") Works 2 - dark-works-2.html
					li
						a(href="dark-works-masonry.html") Works masonry - dark-works-masonry.html
					li
						a(href="dark-works-listing.html") Works listing - dark-works-listing.html
					li
						a(href="dark-works-carousel.html") Works carousel - dark-works-carousel.html
					li
						a(href="dark-works-carousel-2.html") Works carousel 2 - dark-works-carousel-2.html
					li
						a(href="dark-single-project.html") Single project standart - dark-single-project.html
					li
						a(href="dark-single-project-minimalist.html") Single project minimalist - dark-single-project-minimalist.html
					li
						a(href="dark-single-project-sidebar.html") Single project with sidebar - dark-single-project-sidebar.html
					li
						a(href="dark-about.html") About - dark-about.html
					li
						a(href="dark-about-2.html") About 2 - dark-about-2.html
					li
						a(href="dark-contacts.html") Contacts - dark-contacts.html
					li
						a(href="dark-contacts-2.html") Contacts 2 - dark-contacts-2.html
					li
						a(href="dark-news-list.html") News list - dark-news-list.html
					li
						a(href="dark-news-list-2.html") News list 2 - dark-news-list-2.html
					li
						a(href="dark-post-sb.html") Post with sidebar - dark-post-sb.html
					li
						a(href="dark-post.html") Post without sidebar - dark-post.html
					li
						a(href="dark-news-masonry.html") News masonry - dark-news-masonry.html
					li
						a(href="dark-news-sb.html") News with sidebar - dark-news-sb.html
					li
						a(href="dark-page-404.html") 404 - dark-page-404.html
					li
						a(href="dark-pricing.html") Pricing & Plan - dark-pricing.html
					li
						a(href="dark-services.html") Services - dark-services.html
					li
						a(href="dark-service-detail.html") Service detail - dark-service-detail.html
					li
						a(href="dark-team.html") Team - dark-team.html
					li
						a(href="launch-page.html") Launch page - launch-page.html
			.col-12.col-md-4
				h3 Тема modern
				ul.mt-10
					li
						a(href="homepage-modern.html") Homepage modern - homepage-modern.html
