extends templates/main
include modules/article-list-row

block variables
	- let pageTitle = 'Liarch - Architecture & Interior HTML Template | News Grid';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let isDark = false;
	- let currentPage = 4.01; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 4; // // Для каждой раздела уникален. Home -1, about - 2, works - 3, news - 4, pages - 5

block header
	include modules/header
	include modules/menu
block content
	article.news-list
		.container.news-list__container
			header.news-list__header
				h2.news-list__heading.heading Inspirations & Experiences

			// Filter
			.filter.controls.news-list__filter
				each item in ['all', 'inspirations', 'experiences', 'reviews', 'tips & tricks', 'others']
					- if (item === 'tips & tricks') item = 'tips';
					- let filterVal = item === 'all' ? '*' : '.__js_' + item;
					- let activeClass = item === 'all' ? ' filter__item--active' : '';
					button(class="filter__item" + activeClass, type="button", data-filter= filterVal)= item

			// Articles
			.grid-wrapper.__js_news-list-filter
				+article-list([{
					class: "__js_inspirations __js_tips",
					img: "img/article-preview-1.jpg",
					date: "December 15, 2020",
					title: "Nordic style, interior style for simple life",
					text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor..."
				},
					{
						class: "__js_tips",
						img: "img/article-preview-2.jpg",
						date: "December 15, 2020",
						title: "Nordic style, interior style for simple life",
						text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor..."
					},
					{
						class: "__js_inspirations __js_experiences",
						img: "img/article-preview-3.jpg",
						date: "December 15, 2020",
						title: "Nordic style, interior style for simple life",
						text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor..."
					}
				], 'small')
				+article-list([{
					class: "__js_others",
					img: "img/news/item-5.jpg",
					date: "December 15, 2020",
					title: "Nordic style, interior style for simple life",
					text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor..."
				},
					{
						class: "__js_reviews",
						img: "img/masonry/item-6.jpg",
						date: "December 15, 2020",
						title: "Nordic style, interior style for simple life",
						text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor..."
					}
				], 'bigStart')
				+article-list([{
					class: "__js_inspirations __js_tips",
					img: "img/masonry/item-5.jpg",
					date: "December 15, 2020",
					title: "Nordic style, interior style for simple life",
					text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor..."
				},
					{
						img: "img/news/item-4.jpg",
						date: "December 15, 2020",
						title: "Nordic style, interior style for simple life",
						text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor..."
					}
				], 'bigEnd')
				+article-list([{
					class: "__js_others",
					img: "img/news/item-6.jpg",
					date: "December 15, 2020",
					title: "Nordic style, interior style for simple life",
					text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor..."
				}
				], 'big')
				+article-list([{
					class: "__js_experiences",
					img: "img/masonry/item-7.jpg",
					date: "December 15, 2020",
					title: "Nordic style, interior style for simple life",
					text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor..."
				},
					{
						class: "__js_experiences __js_tips",
						img: "img/masonry/item-15.jpg",
						date: "December 15, 2020",
						title: "Nordic style, interior style for simple life",
						text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor..."
					},
					{
						class: "__js_others",
						img: "img/masonry/item-13.jpg",
						date: "December 15, 2020",
						title: "Nordic style, interior style for simple life",
						text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor..."
					}
				], 'small')

			// Button more
			a.more-btn.news-list__more(href="#")
				span.more-btn__text more

block footer
	include modules/footer
