extends templates/main
include modules/article-list-row

block variables
	- let pageTitle = 'Liarch - Architecture & Interior HTML Template | News Masonry Dark';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let isDark = true;
	- let currentPage = 4.09; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 4; // // Для каждой раздела уникален. Home -1, about - 2, works - 3, news - 4, pages - 5

block header
	include modules/header
	include modules/menu
block content
	article.news-masonry
		.container.news-masonry__container
			include modules/masonry.pug

			// Button more
			a.more-btn.news-masonry__more(href="#")
				span.more-btn__text more

block footer
	include modules/footer
