extends templates/main
block variables
	- let pageTitle = 'Liarch - Architecture & Interior HTML Template | Service Detail';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let isDark = false;
	- let currentPage = 5.02; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 5; // // Для каждой раздела уникален. Home -1, about - 2, works - 3, news - 4, pages - 5

block header
	include modules/header
	include modules/menu
block content
	article.service-page
		header.service-page__header
			.container
				h1.service-page__heading.heading(data-aos="fade") Architecture & Interior
				.service-page__text(data-aos="fade")
					p The interior design of your dream begins with a concept that is reflected in the blueprints, project plans, in 3D visualizations. It is possible to make any place more interesting, attractive and functional, for this it is worth to trust the real professionals and then the money will not be spent in a vain.
		.service-page__image(data-aos="fade")
			img(src="img/service-detail-image.jpg", width="1520", height="600", alt="")
		.service-page__content.container
			.row
				.col-12.col-lg-8
					p(data-aos="fade") Encouraging the use of natural systems and processes in design allows for exposure to nature, and in turn, these design approaches improve health and wellbeing. There are a number of possible benefits, including reduced heart rate variability and pulse rates, decreased blood pressure, and increased activity in our nervous systems, to name a few.

					h2(data-aos="fade") Specialization
					p(data-aos="fade") Encouraging the use of natural systems and processes in design allows for exposure to nature, and in turn, these design approaches improve health and wellbeing.

					// Specialization
					.service-page__specialization.specialization(data-aos="fade")
						.specialization__item
							.specialization__item-diagram.diagram.__js_diagram
								span.diagram__percent 65%
								svg(width="160" height="160")
									circle.diagram__circle(r="79", cx="80", cy="80")
									circle.diagram__circle.diagram__circle--progress(transform="rotate(-90)" r="79", cx="-80", cy="80")
							.specialization__item-text Architecture and Interior Design

						.specialization__item
							.specialization__item-diagram.diagram.__js_diagram
								span.diagram__percent 85%
								svg(width="160" height="160")
									circle.diagram__circle(r="79", cx="80", cy="80")
									circle.diagram__circle.diagram__circle--progress(transform="rotate(-90)" r="79", cx="-80", cy="80")
							.specialization__item-text Landscape & 3D Design

						.specialization__item
							.specialization__item-diagram.diagram.__js_diagram
								span.diagram__percent 72%
								svg(width="160" height="160")
									circle.diagram__circle(r="79", cx="80", cy="80")
									circle.diagram__circle.diagram__circle--progress(transform="rotate(-90)" r="79", cx="-80", cy="80")
							.specialization__item-text Commercial

					h2(data-aos="fade") Our Approach
					p(data-aos="fade") Encouraging the use of natural systems and processes in design allows for exposure to nature, and in turn, these design approaches improve health and wellbeing.

					// Process
					ul.service-page__process.process-step
						li.process-step__item(data-aos="fade")
							.process-step__item-title Partnership
							.process-step__item-text We believe in design partnership and co-creation. We like to discuss, plan and be a part of your team.
						li.process-step__item(data-aos="fade")
							.process-step__item-title Clossness
							.process-step__item-text We work closely and listen to our clients. We carefully research them to understand
						li.process-step__item(data-aos="fade")
							.process-step__item-title Future
							.process-step__item-text We believe in strong and continous relationships. We aim to become a trusted partner of our clients, not just a service provider.
						li.process-step__item(data-aos="fade")
							.process-step__item-title Commitment
							.process-step__item-text We commit to clients with international standards, time efficiency, production, and flexible brand framework development that connects with users in all environments.


				// Sidebar
				.service-page__sidebar.sidebar.col-12.col-lg-4.col-xl-3.offset-xl-1
					.sidebar__block(data-aos="fade")
						.sidebar__block-title Service Lists
						ul.sidebar__services
							li.sidebar__services-item
								a(href= URLS.works.serviceDetail) Architecture & Interior
							li.sidebar__services-item
								a(href= URLS.works.serviceDetail) Design & Photography
							li.sidebar__services-item
								a(href= URLS.works.serviceDetail) Furniture products production
							li.sidebar__services-item
								a(href= URLS.works.serviceDetail) Consulting & custom solutions
					.sidebar__block(data-aos="fade")
						.sidebar__block-title Testimonial

						// Twitter block
						.sidebar__testimonial.twitter-block.twitter-block--sidebar
							.twitter-block__wrapper
								.twitter-block__header
									.twitter-block__author
										.twitter-block__author-image
											img(src="img/single-project/avatar-2.jpg", width="60", height="60", alt="")
										.twitter-block__author-meta
											.twitter-block__author-name Laura Lorewnce
											.twitter-block__author-info <a href="#">@laura.cubichotel</a>
									a.twitter-block__social(href="#")
										+icon('twitter')(width="34", height="34")
								.twitter-block__text I don’t know what else to say, this is something that you haven’t seen before. Unique design, impressive and outstanding support.

								time(datetime="2020-12-15") 24 Dec, 2020
				.service-page__form-wrap.col-12(data-aos="fade")
					include modules/form


block footer
	include modules/footer
