extends templates/main.pug
block variables
	- let pageTitle = 'Liarch - Architecture & Interior HTML Template - service detail';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let currentIndex = 10; // Для каждой страницы(раздела) уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню

block content
	article.service-page
		header.service-page__header
			.container
				h1.service-page__heading.heading Architecture & Interior
				p The interior design of your dream begins with a concept that is reflected in the blueprints, project plans, in 3D visualizations. It is possible to make any place more interesting, attractive and functional, for this it is worth to trust the real professionals and then the money will not be spent in a vain.
		.service-page__image
			img(src="img/service-detail-image.jpg", width="1520", height="600", alt="")
		.service-page__content.container
			.row
				.col-12.col-lg-8.col-xl-9
					p Encouraging the use of natural systems and processes in design allows for exposure to nature, and in turn, these design approaches improve health and wellbeing. There are a number of possible benefits, including reduced heart rate variability and pulse rates, decreased blood pressure, and increased activity in our nervous systems, to name a few.

					h2 Specialization
					p Encouraging the use of natural systems and processes in design allows for exposure to nature, and in turn, these design approaches improve health and wellbeing.

					.service-page__specialization.specialization
						.specialization__item
							.specialization__item-diagram
								svg(viewBox="0 0 160 160")

									circle(id="circle", class="circle_animation", r="69.85699", cy="81", cx="81", stroke-width="1", stroke="#6fdb6f", fill="none")


								| 65%
							.specialization__item-text Architecture and Interior Design
						.specialization__item
							.specialization__item-diagram 85%
							.specialization__item-text Landscape & 3D Design
						.specialization__item
							.specialization__item-diagram 72%
							.specialization__item-text Commercial
					h2 Our Approach
					p Encouraging the use of natural systems and processes in design allows for exposure to nature, and in turn, these design approaches improve health and wellbeing.

					ul.service-page__process.process-step
						li.process-step__item
							.process-step__item-title Partnership
							.process-step__item-text We believe in design partnership and co-creation. We like to discuss, plan and be a part of your team.
						li.process-step__item
							.process-step__item-title Clossness
							.process-step__item-text We work closely and listen to our clients. We carefully research them to understand
						li.process-step__item
							.process-step__item-title Future
							.process-step__item-text We believe in strong and continous relationships. We aim to become a trusted partner of our clients, not just a service provider.
						li.process-step__item
							.process-step__item-title Commitment
							.process-step__item-text We commit to clients with international standards, time efficiency, production, and flexible brand framework development that connects with users in all environments.

					include modules/form

				.service-page__sidebar.sidebar.col-12.col-lg-4.col-xl-3
					.sidebar__block
						.sidebar__block-title Service Lists
						ul.sidebar__services
							li.sidebar__services-item
								a(href="#") Architecture & Interior
							li.sidebar__services-item
								a(href="#") Design & Photography
							li.sidebar__services-item
								a(href="#") Furniture products production
							li.sidebar__services-item
								a(href="#") Consulting & custom solutions
					.sidebar__block
						.sidebar__block-title Testimonial
						.sidebar__testimonial.twitter-block.twitter-block--sidebar
							.twitter-block__wrapper
								.twitter-block__header
									.twitter-block__author
										.twitter-block__author-image
											img(src="img/single-project/avatar-2.jpg", width="60", height="60", alt="")
										.twitter-block__author-meta
											.twitter-block__author-name Laura Lorewnce
											.twitter-block__author-info <a href="#">@laura.cubichotel</a>
									a.twitter-block__social(href="#")
										+icon('twitter')(width="34", height="34")
								.twitter-block__text I don’t know what else to say, this is something that you haven’t seen before. Unique design, impressive and outstanding support.

								time(datetime="2020-12-15") 24 Dec, 2020



block footer
	include modules/footer
