extends templates/main.pug
block variables
	- let pageTitle = 'Liarch - Architecture & Interior HTML Template - Works';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let currentIndex = 2; //- Для каждой страницы(раздела) уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню

block content
	article.works-page
		header.works-page__header
			.works-page__inner.container
				h1.works-page__heading.heading Architecture is a visual art, and&nbsp;the&nbsp;building speak for themeselves
				.works-page__text Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Self iPhone Kickstarter, drinking vinegar jean vinegar stumptown yr pop-up artisan.
		.works-page__content
			section.works
				.works__inner.container
					header.works__header
						.works__filter.filter
							each item in ['all', 'residential', 'commercial', 'architecture', 'interior']
								- let filterVal = item === 'all' ? '*' : '.__js_' + item;
								- let activeClass = item === 'all' ? ' filter__item--active' : '';
								button(class="filter__item" + activeClass, type="button", data-filter= filterVal)= item

						.works__sort.sort
							label.sort__hint(for="sortSelect") filter by years:
							select.sort__select.__js_filter-select#sortSelect(name="sort")
								each year in ['all', '2020', '2019', '2018']
									- let val = year === 'all' ? '*' : year;
									option(value= val)= year

				.works__inner.works__inner--width-large.container-fluid
					ul.works__list.works__list--masonry.__js_works-filter
						+work-card-3('01.jpg', '428', '2020', 'Residential', 'Daniel villa, Romania')(class="__js_residential __js_2020")

						+work-card-3('02.jpg', '732', '2019', 'Residential', 'Cube villa, Poland')(class="__js_residential __js_2019 works__item--long")

						+work-card-3('03.jpg', '428', '2020', 'Residential', 'Daniel villa, Romania')(class="__js_residential __js_2020")

						+work-card-3('04.jpg', '428', '2019', 'Residential, Interior', 'Grido museum, Denmark')(class="__js_residential __js_interior __js_2019")

						+work-card-3('05.jpg', '732', '2018', 'Architecture', 'Belgium center point plaza')(class="__js_architecture __js_2018 works__item--long")

						+work-card-3('08.jpg', '272', '2019', 'Architecture', 'Single house')(class="__js_architecture __js_2019 works__item--short")

						+work-card-3('09.jpg', '732', '2018', 'Architecture', 'Miter wooden library')(class="__js_architecture __js_2018 works__item--long")

						+work-card-3('06.jpg', '428', '2018', 'Architecture', 'Dogel nord station')(class="__js_architecture __js_2019")

						+work-card-3('07.jpg', '428', '2019', 'Architecture', 'Stone house')(class="__js_architecture __js_2019")

					a.works__more.more-btn(href="#")
						span.more-btn__text more

block footer
	include modules/footer
