extends templates/main.pug
block variables
	- let pageTitle = 'Liarch - Architecture & Interior HTML Template - Works';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let currentIndex = 2; // Для каждой страницы(раздела) уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню

block content
	article.works-page
		header.works-page__header
			.works-page__inner.container
				h1.works-page__heading.heading Architecture is a visual art, and&nbsp;the&nbsp;building speak for themeselves
				.works-page__text Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Self iPhone Kickstarter, drinking vinegar jean vinegar stumptown yr pop-up artisan.
		.works-page__content
			.works-page__inner.container
				section.works
					header.works__header
						.works__filter.filter.controls
							button.filter__item(type="button", data-filter="all") all
							button.filter__item(type="button", data-filter=".__js_architecture") architecture
							button.filter__item(type="button", data-filter=".__js_interior") interior
							button.filter__item(type="button", data-filter=".__js_cgi") cgi
							button.filter__item(type="button", data-filter=".__js_products") products
						.works__sort.sort
							label.sort__hint(for="sortSelect") filter by years:
							select.sort__select.__js_mixitup-select#sortSelect(name="sort")
								each year in ['all', '2020', '2019', '2018']
									option(value= year)= year

					.works__slider.slider.__js_mixitup-container.__js_slider-single
						.slider__item.slide.mix.__js_architecture.__js_2020
							img(src="img/slider/slide-1.jpg", width="1145", height="650", alt="")
							.slide__content
								.slide__content-detail 2020  -  Kiev, Ukraine
								.slide__content-heading Cubic Blockes Hotel

						.slider__item.slide.mix.__js_architecture.__js_interior.__js_2020
							img(src="img/slider/slide-2.jpg", width="1145", height="650", alt="")
							.slide__content
								.slide__content-detail 2020  -  Belgium
								.slide__content-heading Dogel Nord Station

						.slider__item.slide.mix.__js_interior.__js_2019
							img(src="img/slider/slide-3.jpg", width="1145", height="650", alt="")
							.slide__content
								.slide__content-detail 2019  -  Vancouver, Canada
								.slide__content-heading Cabin Wood In Forest

						.slider__item.slide.mix.__js_architecture.__js_2018
							img(src="img/slider/slide-4.jpg", width="1145", height="650", alt="")
							.slide__content
								.slide__content-detail 2019  -  Iasi, Romania
								.slide__content-heading Daniel Villa, Romania

block footer
	include modules/footer
