.approach {
	$self: &;

	padding: 60px 0;
	background-color: $color-beige;
	counter-reset: approach;

	@include media(xl) {
		padding: 141px 0 185px;
	}

	&__inner {
	}

	.col-12 {
		margin-bottom: 32px;

		@include media(lg) {
			margin-bottom: 0;
		}
	}

	&__header {
		margin-bottom: 30px;

		@include media(xl) {
			margin-bottom: 71px;
		}
	}

	&__heading {
		font-weight: 400;

		& + * {
			margin-top: 40px;
		}
	}

	&__text {
		@include text(16px, 1.7, $color-grey);

		@include media(xl) {
			font-size: 20px;
			margin-bottom: 91px;
		}
	}

	&__card {
		position: relative;
		padding: 30px;
		height: 100%;
		background-color: $color-default-white;
		counter-increment: approach;

		@include media(sm) {
			padding: 40px;
		}

		@include media(xl) {
			padding: 55px 50px 50px 55px;
		}

		&::before {
			content: "0" counter(approach);
			position: absolute;
			right: 30px;
			top: 30px;

			@include text(16px, 1, $color-grey);
			letter-spacing: 0.8px;

			@include media(sm) {
				right: 55px;
				top: 55px;
			}
		}

		&-icon {
			margin-bottom: 60px;

			@include media(xl) {
				margin-bottom: 102px;
			}

			svg {
				fill: $color-orange;
			}
		}

		&-heading {
			max-width: 210px;
			margin: 0 0 25px;

			@include text(36px, 1.11);
			font-weight: 300;
		}

		&-text {
			@include text(18px, 1.67, $color-grey);
		}
	}

	&--parallax {
		background-image: url("../img/bg-our-story-2.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0;

		#{$self} {
			&__heading {
				font-weight: 600;

				@media (max-height: 750px) {
					font-size: 32px;
					margin-bottom: 20px;
				}
			}

			&__card {
				@media (max-height: 750px) {
					padding: 30px;
				}
			}

			&__card-icon {
				@media (max-height: 750px) {
					margin-bottom: 25px;
				}
			}

			&__card-heading {
				font-weight: 600;

				@media (max-height: 750px) {
					font-size: 26px;
					margin: 0 0 18px;
				}
			}

			&__card-text {
				@media (max-height: 750px) {
					font-size: 16px;
					line-height: 1.4;
				}
			}
		}
	}
}

.webpage--beige {
	.approach {
		background-color: transparent;

		@include media(xl) {
			padding-bottom: 167px;
		}

		&__heading {
			font-family: $font-family--secondary;
			color: $color-default-white;

			@include media(xl) {
				font-size: 60px;
			}
		}

		&__card {
			border: solid 1px $color-dark2;
			background-color: $color-dark;

			&-icon {
				svg {
					fill: $color-bird-flower;
				}
			}

			&-heading {
				max-width: none;
				font-family: $font-family--secondary;
				color: $color-default-white;
			}
		}
	}
}
