.article-list {
  &__header {
    text-align: center;
    margin-bottom: 16px;

    @include media(sm) {
      margin-bottom: 24px;
    }

    @include media(md) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 56px;
      text-align: left;
    }

    @include media(lg) {
      margin-bottom: 80px;
    }

    @include media(xl) {
      margin-bottom: 100px;
    }
  }

  &__heading {
    margin-bottom: 16px;
    text-align: center;

    @include media(sm) {
      //margin-bottom: 0px;
    }

    @include media(md) {
      margin-bottom: 0;
      align-self: baseline;
    }

    @include media(xl) {
      margin-bottom: 0px;
    }
  }

  &__more {
    @include media(md) {
      align-self: baseline;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
		margin: 0;

		@include media(md) {
			margin: 0 -10px;
		}

		@include media(xl) {
			margin: 0 -25px;
		}

		+ .article-list__list {
			margin-top: 24px;

			@include media(md) {
				margin-top: 50px;
			}
		}
  }

  &__item {
    margin-bottom: 24px;
		padding: 0;

    @include media(md) {
      margin-bottom: 20px;
			padding: 0 10px;
    }

		@include media(xl) {
			padding: 0 25px;
			margin-bottom: 50px;
		}

    &:last-child {
      margin-bottom: 0;
    }

		&.col-md-12 .article-preview__image {
			@include media(md) {
				height: 545px;
			}
		}
  }
}
