.article-preview {
  $self: &;

  @include media(lg) {
    position: relative;
    overflow: hidden;
  }

  &:hover,
  &:focus {
    outline: none;

    @include media(lg) {
      #{$self}__content {
        transform: translateY(0);
      }
    }
  }

  &__image {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__content {
    width: 100%;
    padding: 20px 24px;

    border: solid 1px $color-grey5;
    border-top: none;

    background-color: $color-default-white;

    @include transition(transform);

    @include media(md) {
      padding: 16px 12px;
    }

    @include media(lg) {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 32px;
      transform: translateY(100%);
      border-top: solid 1px $color-grey5;
    }

    @include media(md) {
      padding: 44px;
    }
  }

  &__date {
    margin-bottom: 12px;

    @include text(13px, 1, $color-grey2);
  }

  &__heading {
    margin: 0 0 20px;

    @include text(24px, 1.33);
    font-weight: 400;

    @include media(md) {
      font-size: 20px;
    }
    @include media(lg) {
      font-size: 24px;
    }
  }

  &__text {
    margin-top: auto;
    margin-bottom: 24px;

    @include text(16px, 1.625, $color-grey2);

    @include media(md) {
      font-size: 14px;
    }
    @include media(lg) {
      font-size: 16px;
    }
  }

  &__btn {
    @include text(14px, 1, $color-orange);
    font-weight: 600;
    letter-spacing: 0.025em;
    text-transform: uppercase;

    &:hover,
    &:focus {
      outline: none;
      color: $color-orange--dark;
    }

    &:active {
      opacity: none;
    }
  }
}
