.btn {
	display: inline-block;
	vertical-align: top;
	padding: 16px 20px;

	@include text(16px, 1, $color-default-white);
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;

	border-radius: 5px;
	border: solid 1px $color-orange;
	background-color: $color-orange;

	cursor: pointer;

	@include transition(background-color);

	@include media(xl) {
		padding: 20px 32px;
	}

	&:hover,
	&:focus {
		outline: none;
		background-color: $color-orange-hover;
		color: $color-default-white;
		box-shadow: none;
	}

	&:active {
		opacity: 0.7;
		box-shadow: none;
	}

	&--outline {
		background-color: transparent;
		color: $color-orange;
		border-color: $color-orange;
		transition: background-color $default-transition-settings,
			color $default-transition-settings;

		&:hover,
		&:focus {
			outline: none;
			background-color: $color-orange;
			color: $color-default-white;
		}
	}

	&--technical {
		color: $color-default-black;
		font-weight: 600;
		border: solid 2px $color-default-black;
		border-radius: 0;
		background-color: transparent;

		&:hover,
		&:focus {
			border-color: $color-cream-brulee;
			background-color: $color-cream-brulee;
		}
	}

	/*&--play {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    justify-content: center;

    @include media(xl) {
      width: 58px;
      height: 58px;
    }

    svg {
      width: 16px;
      height: 16px;
      align-self: center;
      fill: $color-default-white;

      @include media(xl) {
        width: 20px;
        height: 20px;
      }
    }
  }*/
}

.webpage--beige {
	.btn {
		color: $color-default-black;
		border-color: $color-bird-flower;
		background-color: $color-bird-flower;

		&:hover,
		&:focus {
			border-color: $color-bird-flower-hover;
			background-color: $color-bird-flower-hover;
		}
	}
}

.webpage--modern {
	.btn {
		border: solid 1px $color-lemon;
		background-color: $color-lemon;

		&:hover,
		&:focus {
			background-color: $color-lemon-hover;
		}

		&--outline {
			background-color: transparent;
			color: $color-lemon;
			border-color: $color-lemon;

			&:hover,
			&:focus {
				color: $color-default-white;
				background-color: $color-lemon;
			}
		}
	}
}
