.contacts {
	padding: 40px 0;

	@include media(md) {
		position: relative;
	}

	@include media(lg) {
		padding: 60px 0;
	}

	@include media(xl) {
		padding: 90px 0;
	}

	&__inner {
		@include media(xxl) {
			max-width: $width--full;
		}
	}

	&__header {
		margin-bottom: 60px;

		@include media(xl) {
			margin-bottom: 150px;
			padding-top: 17px;
		}
	}

	&__info {
		margin-top: 40px;

		@include media(lg) {
			margin-top: 0;
		}
	}

	&__heading {
		max-width: 310px;
		margin-bottom: 32px;
		font-weight: 400;
		letter-spacing: -0.025em;

		@include media(xl) {
			margin-bottom: 66px;
			font-size: 60px;
		}
	}

	&__contact {
		max-width: 400px;
		background-color: $color-default-white;

		@include media(md) {
			position: relative;
			padding: 40px;
		}

		@include media(lg) {
			padding: 60px;
		}

		@include media(xl) {
			max-width: 595px;
			padding: 78px 83px 90px 100px;
		}

		&-hint {
			@include text(14px, 1, $color-grey);
			text-transform: uppercase;
		}

		&-title {
			margin-bottom: 12px;

			@include text(30px, 1.6);
			letter-spacing: -0.025em;

			span {
				font-weight: 300;
				color: $color-grey;
			}
		}

		&-address {
			margin-bottom: 12px;

			@include text(16px, 1.625, $color-grey2);
			font-style: normal;

			@include media(xl) {
				margin-bottom: 32px;
			}
		}

		&-email {
			margin-bottom: 24px;

			@include media(xl) {
				margin-bottom: 68px;
			}

			a {
				@include text(16px, 1);
				@include transition(color);

				&:hover,
				&:focus {
					outline: none;
					color: $color-orange;
				}

				&:active {
					opacity: 0.7;
				}
			}
		}

		&-phone {
			margin-bottom: 24px;

			span {
				display: block;
				margin-bottom: 12px;
			}

			@include media(xl) {
				margin-bottom: 56px;

				span {
					margin-bottom: 22px;
				}
			}

			a {
				@include text(30px, 1);
				letter-spacing: -0.025em;

				@include transition(color);

				@include media(xl) {
					font-size: 36px;
				}

				&:hover,
				&:focus {
					outline: none;
					color: $color-orange;
				}

				&:active {
					opacity: 0.7;
				}
			}
		}

		&-offices {
			margin-bottom: 36px;

			span {
				display: block;
				margin-bottom: 12px;
			}

			@include media(xl) {
				margin-bottom: 64px;

				span {
					margin-bottom: 26px;
				}
			}

			&-list {
				display: flex;
				flex-wrap: wrap;
			}

			&-item {
				position: relative;
				margin-right: 20px;
				margin-bottom: 8px;

				@include text(16px, 1);

				@include media(xl) {
					margin-right: 24px;
					margin-bottom: 12px;
				}

				&::after {
					content: "|";
					position: absolute;
					right: -12px;
					color: $color-grey;
				}

				&:last-child {
					margin-right: 0;

					&::after {
						display: none;
					}
				}

				&:hover,
				&:focus {
					outline: none;
					text-decoration: underline;
				}

				&:active {
					opacity: 0.7;
				}

				&--active {
					cursor: default;
					pointer-events: none;
					color: $color-orange;
				}
			}
		}

		&-btn {
		}
	}

	&__modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 72px 40px;
		background-color: $color-default-white;

		display: none;

		@include media(md) {
			position: absolute;
			padding: 52px 60px;
		}

		@include media(xl) {
			padding: 72px 100px;
		}

		&-close {
			position: absolute;
			top: 30px;
			right: 24px;
			width: 24px;
			height: 24px;
			padding: 0;
			border: none;
			background-color: transparent;
			cursor: pointer;

			svg {
				display: block;
				width: 100%;
				height: auto;

				@include transition(fill);
			}

			&:hover,
			&:focus {
				outline: none;

				svg {
					fill: $color-orange;
				}
			}

			&:active {
				opacity: 0.7;
			}
		}

		&-form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
		}

		&-field {
			margin-bottom: 30px;

			@include media(md) {
				margin-bottom: 18px;
			}

			@include media(xl) {
				margin-bottom: 30px;
			}
		}

		&-btn {
			margin-top: 20px;
			align-self: flex-start;

			@include media(xl) {
				margin-top: 34px;
			}
		}
	}

	&__map {
		height: 300px;
		margin-bottom: 40px;
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-color: $color-grey;

		//background-image: url("../img/map.jpg");
		iframe {
			width: 100%;
			height: 100%;
			border: none;
		}

		@include media(xl) {
			height: 700px;
		}

		&--absolute {
			@include media(md) {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				//z-index: -1;
			}
		}
	}
}
