/*.preloader {
	display: none !important;
}*/
.diagram {
	position: relative;
	width: 160px;
	height: 160px;

	&__circle {
		display: block;
		fill: none; //rgba(0, 0, 0, 0);
		stroke: $color-grey10;
		stroke-width: 1px;

		&--progress {
			//position: absolute;
			//top: 0;
			//left: 0;
			fill: none; //rgba(0, 0, 0, 0);
			stroke: $color-orange;
			stroke-width: 1px;
			stroke-dasharray: 0 496;
			//transform: rotate(-90deg);
			//transform-origin: 50% 50%;
			transition: all 2s linear;
		}
	}

	&__percent {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);

		@include text(36px, 1, $color-orange);
	}
}
