.fact {
	$self: &;

	max-width: 298px;
	padding-top: 24px;
	border-top: solid 1px $color-orange;

	@include media(md) {
		padding-top: 32px;
	}

	@include media(xl) {
		padding-top: 40px;
	}

	&--white {
		#{$self}__title,
		#{$self}__value {
			color: $color-default-white;
		}
	}

	&__title {
		max-width: 120px;
		margin-bottom: 8px;

		@include text(12px, 1.3);
		text-transform: uppercase;

		@include media(md) {
			margin-bottom: 12px;
			font-size: 16px;
		}

		@include media(xl) {
			font-size: 20px;
		}
	}

	&__value {
		@include text(42px, 1);

		@include media(md) {
			font-size: 60px;
		}

		@include media(xl) {
			font-size: 72px;
		}
	}
}
