.feedback-form {
	&__title {
		font-size: 54px;
		font-weight: bold;
		letter-spacing: -1.35px;
		text-transform: capitalize;
		margin-bottom: 27px;

		@media (max-height: 800px) {
			font-size: 30px;
			margin-bottom: 15px;
		}
	}

	&__field {
		margin-bottom: 15px;
	}
	&__btn {
		margin-top: 40px;
		border-radius: 0;
		text-transform: capitalize;

		@include media(xl) {
			//margin-top: 64px;
		}
	}
}
