.filter {
	&__item {
		margin-right: 20px;
		padding: 0;

		@include text(14px, 1);
		font-weight: 600;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		background-color: transparent;
		border: none;
		appearance: none;
		cursor: pointer;

		@include transition(color);

		@include media(xl) {
			margin-right: 32px;
			font-size: 16px;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover,
		&:focus {
			outline: none;
			color: $color-orange;
		}

		&--current {
			color: $color-orange;
		}
	}
}
