.form {
	overflow: hidden;

	&__title {
		font-size: 48px;
		margin-bottom: 22px;
		letter-spacing: -1.2px;
	}

	&__subtitle {
		font-size: 18px;
		color: $color-grey2;
		margin-bottom: 100px;
	}

	&__group {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0;

		@include media(md) {
			margin: 0 -30px 11px;
		}
	}

	&__field {
		width: 100%;
		margin-bottom: 40px;

		@include media(md) {
			width: calc(33.3333% - 60px);
			margin: 0 30px 50px;

			&--width-full {
				width: 100%;
				margin: 0;
			}
		}

		&--textarea {
			height: 150px;

			@include media(xl) {
				height: 209px;
			}
		}
	}

	&__submit {
		width: 210px;
		padding: 20px;
		background-color: $color-orange--dark;
		border: 1px solid $color-orange--dark;
		font-size: 18px;
		color: $color-default-white;
		text-transform: uppercase;
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		cursor: pointer;

		@include transition(all);

		@include media(md) {
			left: 0;
			transform: none;
			margin-top: 95px;
		}

		@include media(lg) {
			&:hover,
			&:focus {
				background-color: $color-default-white;
				color: $color-orange--dark;
			}
		}
	}
}
