.header {
	$self: &;

	position: relative;
	z-index: 2;
	border-top: solid 5px $color-orange--dark;
	background-color: $color-default-white;

	&--aside {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
		width: calc(100% - 52px);
		max-width: 375px;
		height: 100vh;
		min-height: 500px;
		padding: 6.48vh 20px 8vh !important;
		border-top: none;
		border-right: solid 1px $color-grey9;
		//overflow: auto;
		background-color: $color-default-white;
		transform: translateX(-100%);

		@include transition(transform);

		@include media(sm) {
			padding-left: 3.64vw !important;
			padding-right: 3.64vw !important;
		}

		@include media(xl) {
			transition: none;
			transform: translateX(0);
			max-width: 300px;
		}

		@include media(xxl) {
			max-width: 375px;
		}

		#{$self}__inner {
			padding: 0;
			flex-direction: column;
			height: 100%;

			& > * {
				align-self: flex-start;
			}

			&::before {
				content: "";
				width: 100%;
				margin: 4vh 0 3vh;
				border-bottom: solid 1px $color-grey9;

				@include media-custom-height(900px) {
					margin: 6.48vh 0 3.56vh;
				}
			}
		}

		#{$self}__logo {
			margin: 0;
			order: -1;
		}

		#{$self}__lang-switcher {
			margin-bottom: 4vh;
			margin-left: 0;
			margin-right: 0;

			@include media-custom-height(900px) {
				margin-bottom: 5.5vh;
			}
		}

		#{$self}__contacts {
			//display: none;
		}

		#{$self}__social {
			//display: none;
			margin-top: 30px;
			margin-bottom: 2.5vh;

			@include media-custom-height(900px) {
				margin-bottom: 4.44vh;
			}
		}

		#{$self}__nav {
			//display: none;
			margin-bottom: auto;
		}

		#{$self}__toggle {
			position: absolute;
			top: 12px;
			right: 0;
			transform: translateX(100%);

			@include media(xl) {
				display: none;
			}
		}

		#{$self}__address {
			margin-bottom: 8px;
		}
	}

	&--opened {
		z-index: 1000;
		transform: translateX(0);

		@include media(xl) {
			z-index: 2;
		}
	}

	&--white {
		border: none !important;

		.header__inner {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 15px;
				right: 15px;
				border-top: solid 1px rgba($color-default-white, 0.2);
			}
		}

		#{$self}__lang-switcher {
			@include media(xl) {
				margin-right: 5.41vw;
			}
		}

		.logo {
			&__text {
				color: $color-default-white;
			}

			&[href]:hover,
			&[href]:focus {
				color: $color-orange;
			}
		}

		.lang-switcher {
			&__link {
				color: $color-default-white;

				&:hover,
				&:focus {
					color: $color-orange;
				}
			}
		}

		.header-search {
			&__toggle {
				svg {
					fill: $color-default-white;
				}
				&:hover,
				&:focus {
					svg {
						fill: $color-orange;
					}
				}
			}
		}

		.menu-toggle {
			&::before,
			&::after {
				border-top: solid 3px $color-default-white;
			}

			&:hover,
			&:focus {
				&::before,
				&::after {
					border-top-color: $color-orange;
				}
			}
		}

		.navigation {
			$navigation: &;

			&__link {
				color: $color-default-white;

				&:hover,
				&:focus {
					color: $color-orange;
				}
			}

			&__item {
				&--current {
					#{$navigation}__link {
						color: $color-orange !important;
					}
				}
			}
		}
	}

	&--absolute {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}

	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
		background-color: $color-default-white;
		transform: translateY(99%);
		//border-bottom: solid 1px $color-grey4;
		border-top: none;
		box-shadow: 0 1px 0 0 $color-grey4;

		transition: transform 0.5s ease;

		#{$self}__inner {
			@include media(md) {
				padding-top: 24px;
				padding-bottom: 24px;
			}
		}

		.logo {
			&__image {
				width: 36px;
				margin-right: 10px;
			}

			&__text {
				font-size: 10px;
			}
		}

		#{$self}__logo {
			@include media(lg) {
				margin-right: calc(8.69vw + 20px);
			}
		}
	}

	&--technical {
		border-top: none;
		border-bottom: solid 1px $color-default-black;

		#{$self}__inner {
			max-width: 1920px;
			padding-top: 0;
			padding-bottom: 0;
		}

		#{$self}__logo {
			margin-right: 0;
		}

		.lang-switcher {
			&__link {
				&:hover,
				&:focus {
					color: $color-cream-brulee;
				}
			}
		}

		.header-search {
			&__toggle {
				&:hover,
				&:focus {
					svg {
						fill: $color-cream-brulee;
					}
				}
			}
		}
	}

	@include media(md) {
		//padding: 32px 0;
		border-top-width: 7px;
	}

	@include media(lg) {
		//padding: 48px 0 44px;
		border-top-width: 10px;
	}

	&__inner {
		display: flex;
		width: 100%;
		max-width: $width--full;
		margin: 0 auto;
		padding: 15px;

		@include media(md) {
			padding: 32px 15px;
			//border-top-width: 7px;
		}

		@include media(lg) {
			padding: 48px 15px 44px;
			//border-top-width: 10px;
		}

		> * {
			align-self: center;
		}
	}

	&__lang-switcher {
		margin-right: 20px;
		margin-left: auto;

		@include media(md) {
			margin-right: 5.41vw;
		}
	}

	&__logo {
		margin-right: 20px;

		@include media(md) {
			margin-right: 0;
		}

		@include media(lg) {
			margin-right: 8.69vw;
			margin-top: -5px;
		}
	}

	&__nav {
		display: none;

		@include media(lg) {
			display: block;
		}
	}

	&__chat {
		margin-right: 20px;
		margin-left: auto;

		@include media(md) {
			margin-right: 2.41vw;
		}

		@include media(lg) {
			margin-right: 5.2vw;
		}
	}

	&__search {
		margin: 0;

		@include media(lg) {
			//margin-right: 1.66vw;
		}
	}

	&__menu-toggle {
		margin-left: 20px;

		@include media(md) {
			margin-left: 2.41vw;
		}

		@include media(lg) {
			display: none;
			margin-left: 1.66vw;

			&--always {
				display: block;
			}
		}
	}

	&__address {
		@include text(18px, 1.44, $color-grey2);
		font-style: normal;
	}

	&__phone {
		@include text(18px, 1.44, $color-grey2);

		@include transition(color);

		&:hover,
		&:focus {
			outline: none;
			color: $color-orange;
		}

		&:active {
			opacity: 0.7;
		}
	}

	&__part {
		display: flex;
		//flex-wrap: wrap;
		align-items: center;
		align-self: stretch;
		padding-top: 15px;
		padding-bottom: 15px;

		&--start {
			@include media(xl) {
				//width: 290px;
				padding-left: 15px;
				padding-right: 80px;
				border-right: solid 1px $color-default-black;
			}
		}
		&--center {
			flex-grow: 1;

			@include media(xl) {
				padding-left: 80px;
			}
		}
		&--end {
			@include media(xl) {
				padding-left: 56px;
				padding-right: 15px;
				border-left: solid 1px $color-default-black;
			}
		}
	}
}

.webpage--beige {
	.header {
		&--white {
			.logo {
				svg {
					fill: $color-bird-flower;
				}
			}

			.logo[href]:hover,
			.logo[href]:focus {
				svg {
					fill: $color-bird-flower;
				}

				.logo__text {
					color: $color-bird-flower !important;
				}
			}

			.lang-switcher {
				&__link {
					color: $color-default-white;

					&:hover,
					&:focus {
						color: $color-bird-flower;
					}
				}
			}

			.search-toggle {
				svg {
					fill: $color-default-white;
				}

				&:hover,
				&:focus {
					svg {
						fill: $color-bird-flower;
					}
				}
			}

			.menu-toggle {
				&::before,
				&::after {
					border-top: solid 3px $color-default-white;
				}

				&:hover,
				&:focus {
					&::before,
					&::after {
						border-top-color: $color-bird-flower;
					}
				}
			}

			.navigation {
				&__link {
					color: $color-default-white;

					&:hover,
					&:focus {
						color: $color-bird-flower;
					}
				}

				&__item--current {
					.navigation__link {
						color: $color-bird-flower !important;
					}
				}
			}
		}

		&--fixed {
			background-color: #4d524b;
			//box-shadow: 0 1px 0 0 $color-grey4;

			.logo {
				&__image {
					//	width: 36px;
					//margin-right: 10px;
				}

				&__text {
					//font-size: 10px;
				}
			}
		}
	}
}

.webpage--technical-drawing {
	.header {
	}
}

.webpage--modern {
	.header {
		border-top: none;
	}

	.header--white.header--fixed {
		.logo {
			&__text {
				color: $color-default-black;
			}

			&[href]:hover,
			&[href]:focus {
				color: $color-lemon;
			}
		}

		.lang-switcher {
			&__link {
				color: $color-default-black;

				&:hover,
				&:focus {
					color: $color-lemon;
				}
			}
		}

		.header-search {
			&__toggle {
				svg {
					fill: $color-default-black;
				}
				&:hover,
				&:focus {
					svg {
						fill: $color-lemon;
					}
				}
			}
		}

		.menu-toggle {
			&::before,
			&::after {
				border-top: solid 3px $color-default-black;
			}

			&:hover,
			&:focus {
				&::before,
				&::after {
					border-top-color: $color-lemon;
				}
			}
		}

		.navigation {
			&__link {
				color: $color-default-black;

				&:hover,
				&:focus {
					color: $color-lemon;
				}
			}
			&__item--current {
				.navigation__link {
					color: $color-lemon !important;
				}
			}
		}
	}
}
