.hero {
  overflow: hidden;

  @include media(xl) {
    padding-top: 83px;
  }

  &__intro {
    margin-bottom: 20px;

    @include media(md) {
      margin-bottom: 0;
    }
  }

  &__image {
    @include media(xxl) {
      width: 900px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__content {
    @include media(xxl) {
      padding-top: 26px;
      align-self: flex-start;
    }
  }

  &__heading {
    max-width: 300px;
    margin-bottom: 20px;

    @include media(xl) {
      max-width: none;
    }

    @include media(xxl) {
      margin-bottom: 22px;
    }
  }

  &__text {
    max-width: 340px;
    margin-bottom: 32px;

    @include text(16px, 1.88, $color-grey);

    @include media(xl) {
      font-size: 18px;
    }

    @include media(xxl) {
      margin-bottom: 54px;
    }
  }

  &__buttons {
    margin-bottom: 40px;

    @include media(xxl) {
      margin-bottom: 84px;
    }
  }

  &__notice {
    max-width: 400px;
    margin-bottom: 24px;
    padding-right: 30px;
    padding-top: 24px;

    @include text(14px, 1.625);
    border-top: solid 1px $color-grey5;

    @include media(xl) {
      font-size: 16px;
    }
    @include media(xxl) {
      margin-bottom: 46px;
      padding-top: 43px;
    }
  }

  &__phone {
  }
}
