.latest-projects {
	padding-bottom: 24px;

	@include media(sm) {
		padding-bottom: 48px;
	}

	@include media(xl) {
		padding-bottom: 104px;
	}

	&__header {
		text-align: center;
		margin-bottom: 16px;

		@include media(sm) {
			margin-bottom: 24px;
		}

		@include media(md) {
			display: flex;
			justify-content: space-between;
			margin-bottom: 56px;
			text-align: left;
		}

		@include media(lg) {
			margin-bottom: 80px;
		}

		@include media(xl) {
			margin-bottom: 105px;
		}
	}

	&__heading {
		margin-bottom: 16px;
		text-align: center;

		@include media(sm) {
			//margin-bottom: 0px;
		}

		@include media(md) {
			margin-bottom: 0;
			align-self: baseline;
		}

		@include media(xl) {
			margin-bottom: 0px;
		}
	}

	&__more {
		@include media(md) {
			align-self: baseline;
		}
	}

	&__inner {
		position: relative;

		@include media(xxl) {
			max-width: $width--full;
		}
	}

	&__slider {
		&-thumbs {
			@include media(md) {
				position: absolute;
				left: 15px;
				right: 15px;
				bottom: 0;
			}
		}
	}

	/*.swiper-slide-thumb-active {
		.slide-content {
			background-image: none;
			background-color: $color-default-white;
		}
	}*/
}
