.layout {
	&--left-aside {
		max-width: 1920px;
		padding-top: 30px;

		@include media(xl) {
			padding-top: 40px;
			padding-left: 300px;
		}

		@include media(xxl) {
			padding-left: 375px;
		}
	}
}
