.menu {
	$self: &;

	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;
	width: 100%;
	max-width: 550px;
	background-color: $color-default-white;
	transform: translateX(100%);

	@include transition(transform);

	&--opened {
		transform: translateX(0);
	}

	&__inner {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		padding: 20px 30px;

		@include media(md) {
			padding: 44px 60px;
		}
		@include media(lg) {
			padding: 44px 80px;
		}
	}

	&__wrapper {
		max-height: 280px;
		margin-top: 60px;
		margin-bottom: 40px;
		overflow: auto;
	}

	&__dropdown {
		display: none;
	}

	&__list {
		@include list-reset;
	}

	&__sublist {
		@include list-reset;
	}

	&__subitem {
		display: block;
		margin-top: 16px;
		line-height: 1 !important;

		&:first-child {
			margin-top: 32px;
		}
	}

	&__sublink {
		display: inline-block;
		vertical-align: top;
		@include text(16px, 1, $color-grey);
		@include transition(color);

		&--current {
			color: $color-default-black;

			&:hover,
			&:focus {
				color: $color-default-black !important;
			}
		}

		&:hover:not(&--current),
		&:focus:not(&--current) {
			outline: none;
			color: $color-default-black !important;
		}

		&:active:not(&--current) {
			opacity: 0.7;
		}
	}

	&__item {
		margin-bottom: 32px;

		&:last-child {
			margin-bottom: 0;
		}

		&--current {
			#{$self}__link {
				color: $color-default-black;
			}
		}
	}

	&__link {
		@include text(36px, 1, $color-grey);
		font-weight: 600;

		@include transition(color);

		&:hover,
		&:focus {
			outline: none;
			color: $color-default-black;
		}

		&:active {
			opacity: 0.7;
		}
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 30px;
		display: flex;
		justify-content: center;
		width: 48px;
		height: 48px;
		padding: 0;
		border: none;
		background-color: transparent;
		appearance: none;
		cursor: pointer;

		svg {
			fill: $color-default-black;
			align-self: center;

			@include transition(fill);
		}

		&:hover,
		&:focus {
			outline: none;

			svg {
				fill: $color-orange;
			}
		}

		&:active {
			opacity: 0.7;
		}
	}

	&__social {
		margin-top: auto;
		margin-bottom: 40px;
	}
}

.webpage--beige {
	.menu {
		background-color: $color-dark;
		&__item {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__item--current {
			a {
				color: $color-bird-flower;
			}
		}

		&__link {
			@include text(30px, 1, $color-grey);
			font-weight: 600;

			@include transition(color);

			&:hover,
			&:focus {
				outline: none;
				color: $color-bird-flower;
			}
		}

		&__copy {
			color: $color-grey;
		}

		&__close {
			svg {
				fill: $color-grey;
			}

			&:hover,
			&:focus {
				outline: none;

				svg {
					fill: $color-bird-flower;
				}
			}
		}
	}
}
