.more-btn {
	$self: &;

	display: flex;
	justify-content: center;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: solid 1px $color-grey3;

	@include transition(border-color);

	&:hover,
	&:focus {
		outline: none;
		border-color: $color-orange;

		#{$self}__text {
			color: $color-orange;
		}
	}

	&__text {
		@include text(16px, 1);
		letter-spacing: 0.05em;
		text-transform: uppercase;
		align-self: center;

		@include transition(color);
	}
}
