.navigation {
  $self: &;
  display: none;

  @include media(md) {
    display: block;
  }

  &__list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    margin-right: 20px;

    @include media(lg) {
      margin-right: 40px;
    }

    @include media(xl) {
      margin-right: 3.28vw;
    }

    &::after {
      content: "";
      position: absolute;
      top: 55%;
      right: -8px;
      transform: translateY(-50%) translateX(100%);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $color-grey3;

      @include media(lg) {
        right: -17px;
        width: 6px;
        height: 6px;
      }

      @include media(xl) {
        right: calc(-1.64vw + 3px);
      }
    }

    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }

    &--current {
      #{$self}__link {
        color: $color-orange;
        font-weight: 600;
      }
    }
  }

  &__link {
    @include text(12px, 1, $color-default-black);
    text-transform: uppercase;

    @include transition(color);

    @include media(lg) {
      font-size: 14px;
    }

    &:hover,
    &:focus {
      outline: none;
      color: $color-orange;
    }

    &:active {
      opacity: 0.7;
    }
  }
}
