.news-card {
	margin-bottom: 45px;
	//padding: 0 31px;

	@include media(md) {
		margin-bottom: 91px;
	}

	&__pic {
		height: 325px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding-top: 29px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;

		@include media(md) {
			padding-left: 0;
			padding-right: 0;
			flex-direction: row;
			text-align: left;
		}
	}

	&__date {
		@include media(md) {
			max-width: 75px;
			margin-right: 64px;
		}

		p {
			margin: 0;
		}

		.num {
			font-family: "Cinzel", sans-serif;
			font-size: 60px;
			line-height: 85px;
		}

		.month,
		.year {
			font-size: 14px;
			line-height: 20px;
			text-transform: uppercase;
			color: $color-grey2;
		}
	}

	&__title {
		padding-top: 11px;

		> a {
			font-size: 24px;
			line-height: 36px;
			color: $color-default-black;

			@include media(lg) {
				&:hover {
					text-decoration: underline;
				}
			}
		}

		.author {
			font-size: 14px;
			margin: 18px 0 0;

			a {
				font-size: 14px;
				text-transform: uppercase;
				color: $color-orange;
				letter-spacing: 0.7px;
			}

			span {
				color: $color-grey;
				text-transform: none;
				letter-spacing: normal;

				&.delimiter {
					padding: 0 10px;
				}
			}
		}
	}
}

.webpage--beige {
	.news-card {
		&__date {
			.num {
				color: $color-default-white;
			}

			.year,
			.month {
				color: $color-grey;
			}
		}

		&__title {
			a {
				color: $color-default-white;
			}
			.author {
				color: $color-bird-flower;
			}
		}
	}
}
