.news-slider {
	position: relative;
	margin: 0;
	padding-top: 60px;

	@include media(lg) {
		padding-top: 0;
	}

	@include media(xxl) {
		margin: 0 -175px;
	}

	.swiper-pagination {
		position: absolute;
		bottom: 20px;
		z-index: 1;

		@include media(xxl) {
			justify-content: flex-end;
			bottom: 64px;
			padding-right: 163px;
		}

		.swiper-pagination-bullet {
			background-color: $color-default-white;
			opacity: 1;
		}

		.swiper-pagination-bullet-active {
			background-color: $color-orange;
		}
	}

	.slider__nav {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;

		@include media(lg) {
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);
			background-color: red;
			z-index: 1;
		}

		&-btn {
			width: 18px;
			height: 32px;
			padding: 0;
			border: none;
			overflow: hidden;
			background-color: transparent;

			appearance: none;
			cursor: pointer;

			&:hover,
			&:focus {
				outline: none;

				svg {
					fill: $color-orange;
				}
			}

			&--next {
				margin-left: 12px;

				@include media(lg) {
					right: 3.125vw;
					margin: 0;
				}
			}

			&--prev {
				@include media(lg) {
					left: 3.125vw;
				}
			}

			&.swiper-button-disabled {
				pointer-events: none;
				opacity: 0.5;

				@include media(md) {
					border: solid 1px $color-default-white;
					background-color: transparent !important;

					svg {
						fill: $color-default-white !important;
					}
				}
			}

			svg {
				position: relative;
				left: 50%;
				display: block;
				width: auto;
				height: 100%;
				transform: translateX(-50%);

				@include transition(fill);

				@include media(lg) {
					position: static;
					width: 34px;
					height: auto;
					transform: translateX(0);
					fill: $color-default-white;
				}
			}

			@include media(lg) {
				position: absolute;
				top: 0;
				transform: translateY(-50%);

				display: flex;
				align-items: center;
				justify-content: center;
				width: 60px;
				height: 60px;
				border: solid 1px $color-default-white;

				@include transition(background-color);

				&:hover,
				&:focus {
					background-color: $color-default-white;

					svg {
						fill: $color-default-black;
					}
				}
			}
		}
	}

	&__item {
		position: relative;
		height: 450px;

		@include media(md) {
			height: 600px;
		}

		@include media(lg) {
			height: 700px;
		}

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.7);

			@include media(lg) {
				background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 56%);
			}
		}

		> img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		z-index: 1;
		max-width: 830px;
		height: 100%;
		color: $color-default-white;
		padding: 30px;
		text-align: center;
		box-sizing: border-box;

		@include media(lg) {
			justify-content: flex-end;
			text-align: left;
			padding: 0 30px 60px 172px;
		}
	}

	&__date {
		font-size: 13px;
		margin-bottom: 11px;

		a {
			font-size: 14px;
			text-transform: uppercase;
			color: $color-default-white;
			@include transition(color);

			@include media(lg) {
				&:hover {
					color: $color-orange;
				}
			}
		}
	}

	&__title {
		font-size: 36px;
		line-height: 38px;
		letter-spacing: -1.2px;
		margin-bottom: 36px;
		color: $color-default-white;
		@include transition(color);

		@include media(lg) {
			font-size: 48px;
			line-height: 48px;

			&:hover {
				color: $color-orange;
			}
		}
	}

	&__text {
		font-size: 16px;
		line-height: 26px;
	}
}
