.our-journal {
	&--mb {
		margin-bottom: 60px;

		@include media(md) {
			margin-bottom: 100px;
		}

		@include media(lg) {
			margin-bottom: 140px;
		}

		@include media(xl) {
			margin-bottom: 196px;
		}
	}
	&__header {
		text-align: center;
		margin-bottom: 16px;

		@include media(sm) {
			margin-bottom: 24px;
		}

		@include media(md) {
			display: flex;
			justify-content: space-between;
			margin-bottom: 56px;
			text-align: left;
		}

		@include media(lg) {
			margin-bottom: 70px;
		}

		@include media(xl) {
			//margin-bottom: 105px;
		}

		&--block {
			@include media(md) {
				display: block;
			}
		}
	}

	&__heading {
		margin-bottom: 16px;
		text-align: center;

		@include media(sm) {
			//margin-bottom: 0px;
		}

		@include media(md) {
			margin-bottom: 0;
			align-self: baseline;
		}

		@include media(xl) {
			margin-bottom: 0px;
		}
	}

	&__text {
		margin-top: 16px;

		@include text(16px, 1.77, $color-grey);
		text-align: center;

		@include media(xl) {
			margin-top: 54px;
		}
	}

	&__more {
		@include media(md) {
			align-self: baseline;
		}
	}

	&__list {
		list-style: none;
		padding: 0;

		.news-card {
			padding-left: 0;
			padding-right: 0;

			@include media(md) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}

.webpage--beige {
	.our-journal {
		&__heading {
			font-family: $font-family--secondary;
			color: $color-default-white;

			@include media(md) {
				text-align: left;
			}
		}

		&__text {
			color: $color-grey;

			@include media(md) {
				text-align: left;
			}
		}
	}
}
