.pricing {
	&__container {
		max-width: 1170px !important;
		padding: 60px 10px;

		@include media(xl) {
			padding: 127px 0 183px;
		}
	}

	&__title,
	&__subtitle {
		max-width: 730px;
		margin: 0 auto;
	}

	&__title {
		font-size: 48px;
		line-height: 60px;
		letter-spacing: -1.5px;
		text-align: center;
		margin-bottom: 36px;

		@include media(md) {
			font-size: 60px;
			line-height: 72px;
		}
	}

	&__subtitle {
		font-size: 16px;
		line-height: 28px;
		letter-spacing: -0.27px;
		color: $color-grey2;
		text-align: center;
		margin-bottom: 64px;

		@include media(md) {
			font-size: 18px;
			line-height: 32px;
			margin-bottom: 122px;
		}
	}

	&__contact-us {
		max-width: 580px;
		margin: 45px auto 0;
		font-size: 20px;
		line-height: 32px;
		text-align: center;

		@include media(md) {
			font-size: 24px;
			line-height: 36px;
			margin: 81px auto 0;
		}

		a {
			color: #0099ff;
			text-decoration: underline;

			@include media(lg) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	&__slider-container {
		position: relative;
		overflow: hidden;
		margin: 0 auto;

		@include media(xl) {
			margin: 0 -5px;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			width: 35px;
			height: 100%;
			z-index: 2;
			pointer-events: none;
			@include transition(opacity);

			@include media(md) {
				width: 100px;
			}

			@include media(xl) {
				display: none;
			}
		}

		&::before {
			left: 0;
			background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
		}

		&::after {
			right: 0;
			background: linear-gradient(275deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
		}

		&.hide-left {
			&::before {
				opacity: 0;
			}
		}

		&.hide-right {
			&::after {
				opacity: 0;
			}
		}
	}

	&__slider {
		width: 90%;
		overflow: visible;

		@include media(md) {
			width: 80%;
		}

		@include media(xl) {
			width: 100%;
		}
	}

	&__wrapper {
		@include media(xl) {
			display: flex;
			flex-wrap: wrap;
		}
	}
}

.pricing-item {
	display: flex;
	padding: 0;
	height: auto;

	@include media(xl) {
		width: calc(33.3333% - 10px);
		margin: 0 5px 10px;
	}

	@include media(lg) {
		&:hover {
			.pricing-item__wrapper {
				border-color: $color-default-black;
			}

			.pricing-item__btn {
				border-color: $color-orange--dark;
				background-color: $color-orange--dark;
				color: $color-default-white;
			}
		}
	}

	&__wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 30px 20px;
		border: 1px solid $color-grey3;
		background-color: $color-default-white;
		box-sizing: border-box;
		@include transition(border-color);

		@include media(md) {
			padding: 42px 50px 64px;
		}
	}

	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 16px;

		@include media(md) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__plan {
		font-size: 16px;
		text-transform: uppercase;
		margin-bottom: 10px;

		@include media(md) {
			margin-bottom: 0;
		}
	}

	&__caption span {
		padding: 3.5px 11px;
		background-color: #669900;
		font-size: 14px;
		color: $color-default-white;
	}

	&__price {
		font-family: 'Cinzel', sans-serif;
		text-transform: uppercase;
		letter-spacing: -2px;
		margin-bottom: 7px;
		text-align: center;

		@include media(md) {
			text-align: left;
		}

		.currency {
			font-size: 30px;
			top: -0.7em;
		}

		.digit {
			font-size: 60px;
		}

		.square {
			font-size: 18px;
			letter-spacing: 0.3px;
		}
	}

	&__tax {
		font-size: 14px;
		color: $color-grey;
		text-align: center;

		@include media(md) {
			text-align: left;
		}
	}

	&__included {
		list-style: none;
		border-top: 1px solid #d8d8d8;
		margin: 30px 0 50px;
		padding: 33px 0 0;

		li {
			font-size: 16px;
			line-height: 22px;
			text-transform: uppercase;
			letter-spacing: 0.4px;
			padding: 15px 0;
			text-align: center;

			@include media(md) {
				text-align: left;
			}

			+ li {
				border-top: 1px solid #d8d8d8;
			}
		}
	}

	&__btn {
		font-size: 18px;
		text-align: center;
		text-transform: uppercase;
		color: $color-default-black;
		border: 1px solid $color-grey;
		background-color: $color-default-white;
		width: 100%;
		padding: 15px;
		margin-top: auto;
		border-radius: 0;
		cursor: pointer;
		@include transition(all);
	}
}
