.review {
	$self: &;

  overflow: hidden;

  &__inner {
  }

  &__content {
    @include media(xl) {
      margin-bottom: 60px;
    }

    &::before {
      content: "";
      display: block;
      width: 50px; //78px;
      height: 38px;
      margin-bottom: 16px;
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: 100% auto;
      background-image: url("../img/quotation.png");

      @include media(lg) {
        width: 64px;
        height: 48px; //58px;
        margin-bottom: 24px;
      }

      @include media(xl) {
        width: 78px;
        height: 58px;
        margin-bottom: 46px;
      }
    }
  }

  &__image {
    position: relative;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url("../img/review-shapes.png");

    &-author {
      position: absolute;

      border-radius: 50%;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      &--one {
        top: 0.2%;
        left: 58.2%;

        width: 28.94%;
      }
      &--two {
        top: 45.5%;
        left: 67%;

        width: 17.89%;
      }
      &--three {
        top: 45.5%;
        left: 30.4%;

        width: 21.93%;
      }
      &--four {
        top: 30%;
        left: 5%;

        width: 14.73%;
      }
      &--five {
        top: 72.4%;
        left: 17%;

        width: 13.15%;
      }
      &--six {
        top: 78.5%;
        right: 33%;

        @include media(xl) {
          top: 69.5%;
          right: 0;
        }

        width: 10.52%;
      }
    }

    img {
      max-width: 100%;
      height: auto;

      @include media(xl) {
        max-width: none;
      }
    }

    @include media(md) {
    }
  }

  &__text {
    margin-bottom: 24px;

    @include text(16px, 1.53);
    font-weight: 300;

    @include media(lg) {
      margin-bottom: 36px;
      font-size: 24px;
    }

    @include media(xl) {
      margin-bottom: 60px;
      padding-right: 10px;
      font-size: 30px;
    }
  }

  &__author {
    &-name {
      margin-bottom: 8px;

      @include text(14px, 1);

      @include media(lg) {
        margin-bottom: 12px;
        font-size: 18px;
      }
      @include media(xl) {
        margin-bottom: 16px;
        font-size: 22px;
      }
    }

    &-detail {
      @include text(12px, 1, $color-grey);

      @include media(lg) {
        font-size: 14px;
      }

      span {
        color: $color-default-black;
      }
    }
  }

	&--parallax {
		#{$self} {
			&__image {
				background-image: url("../img/review-shapes-2.png");
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				height: 85vw;

				@include media(md) {
					height: 50vw;
				}

				@include media(xxl) {
					transform: translateX(-90px);
				}
			}

			&__content {
				padding-top: 41px;
			}

			&__text {
				font-weight: 400;
			}

			&__image-author {
				&--one {
					top: 13.2%;
					left: 47.2%;
					width: 24%;
				}

				&--two {
					top: 47.5%;
					left: 54.4%;
					width: 14.6%;
				}

				&--three {
					top: 47.5%;
					left: 24.8%;
					width: 17.93%;
				}

				&--four {
					top: 32%;
					left: 4%;
					width: 12%;
				}

				&--five {
					top: 74.4%;
					left: 13.6%;
					width: 11.1%;
				}

				&--six {
					width: 8.52%;
					top: 71.5%;
					right: 16%;
				}
			}
		}
	}
}
