.rewards {
	padding: 60px 0;
	background-color: $color-white-lilac;

	@include media(xl) {
		padding: 156px 0 118px;
	}

	&__inner {
	}

	&__preheading {
		margin-bottom: 12px;

		@include text(16px, 1, $color-orange);
		text-transform: uppercase;
	}

	&__header {
		margin-bottom: 12px;

		@include media(md) {
			margin-bottom: 30px;
		}

		@include media(xl) {
			margin-bottom: 45px;
		}
	}

	&__heading {
		font-weight: 400;

		& + * {
			margin-top: 42px;
		}
	}

	&__text {
		@include text(16px, 1.77, $color-grey);

		@include media(xl) {
			margin-bottom: 50px;
			font-size: 18px;
		}
	}

	&__list {
		@include list-reset;
	}

	&__item {
		& + & {
			border-top: solid 1px $color-grey7;
		}
	}

	& + .bg-wrapper {
		margin-top: 26px;
	}
}

.webpage--beige {
	.rewards {
		background-color: transparent;

		&__heading {
			font-family: $font-family--secondary;
			color: $color-default-white;
			text-transform: uppercase;
			//letter-spacing: -0.025em;
			letter-spacing: normal;
		}

		.rewards__item + .rewards__item {
			border-top: solid 1px rgba($color-default-white, 0.2);
		}
	}
}
