.reward {
	padding: 32px 0;

	@include media(md) {
		display: flex;
		//flex-wrap: wrap;
	}

	@include media(xl) {
		padding: 54px 0;
	}

	&__date {
		//margin-right: auto;
		//align-self: center;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 20px;

		@include text(16px, 1, $color-grey);

		@include media(md) {
			width: 36px;
			margin: 18px 40px 0 0;
		}

		@include media(xl) {
			margin: 12px 58px 0 0;
		}
	}

	&__logo {
		margin-bottom: 20px;

		@include media(md) {
			width: 150px;
			margin: 10px 50px 0 0;
			flex-shrink: 0;
			text-align: center;
		}

		@include media(xl) {
			margin: 5px 126px 0 0;
		}

		img {
			max-width: 100%;
		}
	}

	&__content {
		width: 100%;

		@include media(md) {
			width: auto;
			flex-grow: 1;
			//width: calc(100% - 250px);
		}
	}

	&__project {
		@include media(lg) {
			display: flex;
		}

		& + & {
			margin-top: 20px;

			@include media(xl) {
				margin-top: 32px;
			}
		}

		&-wrap {
			margin-bottom: 20px;

			@include media(lg) {
				margin-bottom: 0;
				margin-right: auto;
			}
		}

		&-name {
			//margin-bottom: 8px;

			@include text(24px, 1.33);
			letter-spacing: -0.025em;

			@include media(xl) {
				margin-bottom: 8px;
			}

			a {
				color: $color-default-black;

				&:hover,
				&:focus {
					outline: none;
					text-decoration: underline;
				}

				&:active {
					opacity: 0.7;
				}
			}
		}

		&-text {
			@include text(16px, 1.33, $color-grey);
		}

		&-link {
			display: inline-block;
			vertical-align: top;

			@include text(14px, 1, $color-grey2);
			letter-spacing: 0.025em;
			text-transform: uppercase;

			@include transition(color);

			@include media(lg) {
				margin-top: 8px;
				margin-left: 20px;
				flex-shrink: 0;
			}

			&:hover,
			&:focus {
				outline: none;
			}

			&:active {
				opacity: 0.7;
			}
		}
	}
}
