.slide {
	position: relative;

	img {
		display: block;
		width: 100%;
		height: auto;
	}

	&__content {
		@include media(sm) {
			position: absolute;
			left: -1px;
			bottom: -1px;
		}

		@include media(xl) {
			min-width: 475px;
		}
	}
}
