.specialization {
	@include media(sm) {
		display: flex;
	}

	&__item {
		margin-bottom: 32px;
		padding: 0 10px;
		flex-grow: 1;

		&:last-child {
			margin-bottom: 0;
		}

		@include media(sm) {
			margin-bottom: 0;
		}

		&-diagram {
			margin: 0 auto 24px;

			/*&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				border: solid 1px $color-grey4;
			}

			svg {
				display: block;
				width: 100%;
				height: auto;
				box-sizing: border-box;
				stroke: $color-orange;
				stroke-width: 1px;
				fill: none;
				//stroke-dasharray: 100%;
			}*/
		}

		/*	&-percent {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}*/

		&-text {
			max-width: 140px;
			margin: 0 auto;

			@include text(20px, 1.5);
			text-align: center;
		}
	}
}
