.statistics {
	$self: &;

	&--column {
		@include media(lg) {
			.row {
				height: 100%;
			}
		}
		#{$self}__item {
			@include media(lg) {
				flex: none;
			}

			&-value {
				@include media(lg) {
					min-width: 119px;
					font-size: 48px;
				}
			}
			&-text {
				@include media(lg) {
					font-size: 14px;
				}
			}
		}

		#{$self}__item + #{$self}__item {
			@include media(lg) {
				margin-top: 16px;
			}
		}
	}

	&--color-invert {
		#{$self}__item {
			&-value {
				font-weight: 400;
				color: $color-grey;
			}
			&-text {
				color: $color-default-black;
			}
		}
	}

	&--m {
		margin: 60px 0;
	}

	&__item {
		text-align: center;

		& + & {
			margin-top: 24px;
		}

		@include media(sm) {
			display: flex;
			text-align: left;
			//justify-content: center;

			& + & {
				margin-top: 0;
			}

			&:last-child {
				margin-top: 24px;
			}
		}

		@include media(lg) {
			justify-content: flex-start;

			&:last-child {
				margin-top: 0;
			}
		}

		&-value {
			margin-bottom: 6px;

			@include text(36px, 1);
			font-weight: 300;

			@include media(sm) {
				margin-bottom: 0;
				margin-right: 24px;
				font-size: 48px;
				align-self: center;
			}

			@include media(xl) {
				font-size: 60px;
			}
		}

		&-text {
			@include text(14px, 1.625, $color-grey);
			text-transform: uppercase;
			letter-spacing: 0.025em;

			br {
				display: none;
			}

			@include media(sm) {
				align-self: center;
				br {
					display: block;
				}
			}

			@include media(xl) {
				font-size: 16px;
			}
		}
	}
}
