.webpage {
	$self: &;

	&--beige {
		background-color: $color-dark;

		main {
			background-color: $color-dark;
		}
		/*
		::-webkit-scrollbar {
			width: 10px;
			height: 10px;
		}

		::-webkit-scrollbar-button {
			display: none;
		}

		::-webkit-scrollbar-track {
		}

		::-webkit-scrollbar-track-piece {
			background-color: $color-geyser;
		}

		::-webkit-scrollbar-thumb {
			background-color: $color-default-black;
			border-radius: none;
		}

		::-webkit-scrollbar-corner {
			background-color: #999;
		}

		::-webkit-resizer {
			background-color: #666;
		}*/
	}

	&__an-awards {
		margin-bottom: 60px;

		@include media(md) {
			margin-bottom: 100px;
		}

		@include media(xl) {
			margin-bottom: 165px;
		}
	}

	&__our-story {
		margin-bottom: 60px;

		@include media(md) {
			margin-bottom: 100px;
		}

		@include media(xl) {
			margin-bottom: 165px;
		}
	}

	&__type-service {
		margin-bottom: 60px;

		@include media(md) {
			margin-bottom: 100px;
		}

		@include media(xl) {
			margin-bottom: 172px;
		}
	}

	&__latest-projects {
		margin-bottom: 60px;

		@include media(md) {
			margin-bottom: 100px;
		}

		@include media(xl) {
			margin-bottom: 67px;
		}
	}

	&__review {
		margin-bottom: 60px;

		@include media(md) {
			margin-bottom: 100px;
		}

		@include media(xl) {
			margin-bottom: 185px;
		}
	}

	&__rewards {
		margin-bottom: 60px;

		@include media(md) {
			margin-bottom: 100px;
		}

		@include media(xl) {
			margin-bottom: 128px;
		}
	}

	&__partners {
		margin-bottom: 60px;

		@include media(md) {
			margin-bottom: 100px;
		}

		@include media(xl) {
			margin-bottom: 143px;
		}
	}

	&__article-list {
		padding-bottom: 100px;

		@include media(md) {
			padding-bottom: 150px;
		}

		@include media(xl) {
			padding-bottom: 212px;
		}
	}

	&__hero-banner {
		margin-bottom: 60px;

		@include media(xl) {
			margin-bottom: 150px;
		}
	}

	&__latest-articles {
		margin-bottom: 60px;
	}

	&__instagram-block {
		margin-bottom: 60px;

		@include media(xl) {
			margin-bottom: 196px;
		}
	}
}
