.works-section {
	padding: 60px 0;

	@include media(md) {
		padding: 80px 0;
	}
	@include media(lg) {
		padding: 120px 0;
	}
	@include media(xl) {
		padding: 180px 0;
	}

	&__inner {
	}
	&__heading {
	}
	&__card {
		&-image {
			img {
			}
		}
		&-tags {
		}
		&-heading {
		}
		&-text {
		}
	}

	&__btn {
	}
}

.webpage--beige {
	.works-section {
		&__card {
			&-tags {
				color: $color-bird-flower;
			}
			&-heading {
				a {
					color: $color-default-white;
				}
			}
			&-text {
			}
		}
	}
}
