.works {
	&__header {
		max-width: 1520px;
		margin: 0 auto 30px;

		@include media(md) {
			display: flex;
			flex-wrap: wrap;
		}

		@include media(lg) {
			margin-bottom: 50px;
		}

		@include media(xl) {
			margin-bottom: 62px;
		}
	}

	&__filter {
		margin-right: auto;
	}

	&__sort {
		margin-top: 20px;

		@include media(md) {
			margin: 0 0 0 20px;
		}
	}

	&__list {
		list-style: none;
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
	}

	&__item {
		margin-bottom: 40px;

		@include media(xl) {
			margin-bottom: 75px;
		}
	}

	&__more {
		margin: 120px auto 0;
	}
}
