-
  //- Массив с именами файлов шрифтов, которые подключаются для предзагрузки в теге head миксином fonts
  let FONTS = [
    'Jost-Light',
    'Jost-Regular',
    'Jost-SemiBold',
    'Jost-Italic',
    'Cinzel-Regular'
  ];

  let ASIDE_MAIN_MENU = [
    {text: 'Services', url: 'homepage-menu.html', currentIndex: 1},
    {text: 'Works', url: 'works.html', currentIndex: 2},
    {text: 'Studio', url: '#', currentIndex: 33},
    {text: 'News', url: 'news-list.html', currentIndex: 4},
    {text: 'Contact', url: 'contacts.html', currentIndex: 5}
  ];

  let MAIN_MENU = [
    {text: 'What we do', url: 'homepage.html', currentIndex: 1},
    {text: 'Works', url: 'works.html', currentIndex: 2},
    {text: 'About', url: 'about.html', currentIndex: 3},
    {text: 'News', url: 'news-list.html', currentIndex: 4},
    {text: 'Contact', url: 'contacts.html', currentIndex: 5}
  ];

  let FOOTER_MENU_HELP = [
    {text: 'FAQs', url: '#', currentIndex: 6},
    {text: 'Terms & Conditions', url: '#', currentIndex: 7},
    {text: 'Privacy Policy', url: '#', currentIndex: 8},
    {text: 'Help', url: '#', currentIndex: 9},
    {text: 'Services', url: '#', currentIndex: 10}
  ];

  let FOOTER_MENU_LINKS = [
    {text: 'About', url: 'about.html', currentIndex: 3},
    {text: 'Contact', url: 'contacts.html', currentIndex: 5},
    {text: 'Career', url: '#', currentIndex: 11},
    {text: 'News', url: 'news-list.html', currentIndex: 4}
  ];

  let MODERN_FOOTER_MENU_LINKS = [
    {text: 'Works', url: '#', currentIndex: 11},
    {text: 'About', url: 'about.html', currentIndex: 3},
    {text: 'News', url: 'news-list.html', currentIndex: 4},
    {text: 'Contact', url: 'contacts.html', currentIndex: 5}
  ];

  let MODERN_FOOTER_MENU_SERVICES = [
    {text: 'Residential', url: '#', currentIndex: 0},
    {text: 'Commerical', url: '#', currentIndex: 0},
    {text: 'Interior', url: '#', currentIndex: 0},
    {text: 'Consulting', url: '', currentIndex: 0},
    {text: 'Products', url: '#', currentIndex: 0},
    {text: 'Materials', url: 'news-list.html', currentIndex: 0}
  ];


  let PARTNERS_LOGO = [
    {name: '1', w: '132', h: '54', alt: 'badische landes-bibliothek'},
    {name: '2', w: '116', h: '57', alt: 'christopher willis'},
    {name: '3', w: '104', h: '64', alt: 'serenity hotel'},
    {name: '4', w: '125', h: '32', alt: 'artchive crafts gallery'},
    {name: '5', w: '150', h: '45', alt: 'creative space'},
    {name: '6', w: '141', h: '27', alt: 'alpatech'},
    {name: '7', w: '104', h: '38', alt: 'neuton interactive'},
    {name: '8', w: '124', h: '47', alt: 'papilon'},
    {name: '9', w: '140', h: '19', alt: 'good habits'},
    {name: '10', w: '134', h: '29', alt: 'francois redblade'},
    {name: '11', w: '108', h: '37', alt: 'oak'},
    {name: '12', w: '136', h: '43', alt: 'magnet studio'},
    {name: '13', w: '111', h: '39', alt: 'r.m rick meyers'}
  ];

  let REVIEW_IMAGES = [
    {name: '1', w: '165', h: '165', mod: 'one', aos: 'fade-up'},
    {name: '2', w: '102', h: '102', mod: 'two', aos: 'fade-right'},
    {name: '3', w: '125', h: '125', mod: 'three', aos: 'fade-up'},
    {name: '4', w: '84', h: '84', mod: 'four', aos: 'fade-left'},
    {name: '5', w: '75', h: '75', mod: 'five', aos: 'fade-left'},
    {name: '6', w: '60', h: '60', mod: 'six', aos: 'fade-right'}
  ];
