-
  //- Массив с именами файлов шрифтов, которые подключаются для предзагрузки в теге head миксином fonts
	let FONTS = [
    'Jost-Light',
    'Jost-Regular',
    'Jost-SemiBold',
    'Jost-Italic'
	];
