-
  //- Массив с именами файлов шрифтов, которые подключаются для предзагрузки в теге head миксином fonts
  let FONTS = [
    'Jost-Light',
    'Jost-Regular',
    'Jost-SemiBold',
    'Jost-Italic'
  ];

  let MAIN_MENU = [
    {text: 'What we do', url: 'homepage.html', currentIndex: 1},
    {text: 'Works', url: '#', currentIndex: 2},
    {text: 'About', url: '#', currentIndex: 3},
    {text: 'News', url: '#', currentIndex: 4},
    {text: 'Contact', url: '#', currentIndex: 5}
  ];

  let FOOTER_MENU_HELP = [
    {text: 'FAQs', url: '#', currentIndex: 6},
    {text: 'Terms & Conditions', url: '#', currentIndex: 7},
    {text: 'Privacy Policy', url: '#', currentIndex: 8},
    {text: 'Help', url: '#', currentIndex: 9},
    {text: 'Services', url: '#', currentIndex: 10}
  ];

  let FOOTER_MENU_LINKS = [
    {text: 'About', url: '#', currentIndex: 3},
    {text: 'Contact', url: '#', currentIndex: 5},
    {text: 'Career', url: '#', currentIndex: 11},
    {text: 'News', url: '#', currentIndex: 4}
  ];
