-
  //- Массив с именами файлов шрифтов, которые подключаются для предзагрузки в теге head миксином fonts
  let FONTS = [
    'Jost-Light',
    'Jost-Regular',
    'Jost-SemiBold',
    'Jost-Italic'
  ];

  let MAIN_MENU = [
    {text: 'what we do', url: 'homepage.html', currentIndex: 1},
    {text: 'works', url: '#', currentIndex: 2},
    {text: 'about', url: '#', currentIndex: 3},
    {text: 'news', url: '#', currentIndex: 4},
    {text: 'contact', url: '#', currentIndex: 5}
  ]
