-
  //- Массив с именами файлов шрифтов, которые подключаются для предзагрузки в теге head миксином fonts
  let FONTS = [
    'Jost-Light',
    'Jost-Regular',
    'Jost-SemiBold',
    'Jost-Italic'
  ];

  let MAIN_MENU = [
    {text: 'What we do', url: 'homepage.html', currentIndex: 1},
    {text: 'Works', url: '#', currentIndex: 2},
    {text: 'About', url: '#', currentIndex: 3},
    {text: 'News', url: '#', currentIndex: 4},
    {text: 'Contact', url: '#', currentIndex: 5}
  ];

  let FOOTER_MENU_HELP = [
    {text: 'FAQs', url: '#', currentIndex: 6},
    {text: 'Terms & Conditions', url: '#', currentIndex: 7},
    {text: 'Privacy Policy', url: '#', currentIndex: 8},
    {text: 'Help', url: '#', currentIndex: 9},
    {text: 'Services', url: '#', currentIndex: 10}
  ];

  let FOOTER_MENU_LINKS = [
    {text: 'About', url: '#', currentIndex: 3},
    {text: 'Contact', url: '#', currentIndex: 5},
    {text: 'Career', url: '#', currentIndex: 11},
    {text: 'News', url: '#', currentIndex: 4}
  ];

  let PARTNERS_LOGO = [
    {name: '1', w: '132', h: '54', alt: 'badische landes-bibliothek'},
    {name: '2', w: '116', h: '57', alt: 'christopher willis'},
    {name: '3', w: '104', h: '64', alt: 'serenity hotel'},
    {name: '4', w: '125', h: '32', alt: 'artchive crafts gallery'},
    {name: '5', w: '150', h: '45', alt: 'creative space'},
    {name: '6', w: '141', h: '27', alt: 'alpatech'},
    {name: '7', w: '104', h: '38', alt: 'neuton interactive'},
    {name: '8', w: '124', h: '47', alt: 'papilon'},
    {name: '9', w: '140', h: '19', alt: 'good habits'},
    {name: '10', w: '134', h: '29', alt: 'francois redblade'},
    {name: '11', w: '108', h: '37', alt: 'oak'},
    {name: '12', w: '136', h: '43', alt: 'magnet studio'},
    {name: '13', w: '111', h: '39', alt: 'r.m rick meyers'}
  ]
