-
  //- Массив с именами файлов шрифтов, которые подключаются для предзагрузки в теге head миксином fonts
  let FONTS = [
    'Jost-Light',
    'Jost-Regular',
    'Jost-SemiBold',
    'Jost-Italic'
  ];

  let MAIN_MENU = [
    {text: 'What we do', url: 'homepage.html', currentIndex: 1},
    {text: 'Works', url: '#', currentIndex: 2},
    {text: 'About', url: '#', currentIndex: 3},
    {text: 'News', url: '#', currentIndex: 4},
    {text: 'Contact', url: '#', currentIndex: 5}
  ]
