include _vars.pug
block variables

include ../mixins/mixins.pug

doctype html
html.no-js(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
		//-+fonts(FONTS)

		// CSS
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/theme-dark.css")
		title= pageTitle

		//- Полифил для тега picture
		//-script document.createElement("picture");
		//-script(src="js/picturefill.js", async)

	body.webpage
		div(style="display: none")
			//- include ../../../build/img/sprite.svg
		include ../modules/header-3
		include ../modules/menu
		main
			block content
		block footer
		include ../modules/modal
		include ../modules/preloader

		// Optional JavaScript
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="js/fullpage.min.js")
		//script(src="js/fullpage.extensions.min.js")
		script(src="js/aos.js")
		script(src="js/jquery.easy_number_animate.js")
		script(src="js/isotope.pkgd.min.js")
		script(src="js/packery-mode.pkgd.min.js")
		script(src="js/swiper-bundle.min.js")
		script(src="js/animsition.min.js")

		// JavaScript
		script(src="js/main.js")
