section.webpage__an-awards.an-awards(data-aos="fade", data-aos-delay="350")
  .container
    .row.align-items-center
      .an-awards__intro.col-12.col-md.col-lg-7.order-md-1
        .an-awards__image
          img(src="img/about/about-30.png", width="804", height="695", alt="")
      .an-awards__content.col-12.col-md.col-lg-5
        h1.an-awards__heading.an-awards__heading--upper.heading.heading--h1 bigger, bolder & better
        .an-awards__text We passioned with the space & create the values vsustainable over time
        .an-awards__buttons
          .video-btn.video-btn--outline
            a.video-btn__btn.fancybox(href="#ourStory")
              span.visually-hidden Play
              +icon('play')(width="20", height="20")
            span.video-btn__text view our story



