include article-list-row

// Article list
section.webpage__article-list.article-list(data-aos="fade")
	.container
		header.article-list__header
			h2.article-list__heading.heading Inspirations & xperiences
			if isDark
				a.article-list__more.more(href= URLS.news.gridDark) more articles
			else
				a.article-list__more.more(href= URLS.news.grid) more articles
		+article-list([{
			img: "img/article-preview-1.jpg",
			date: "December 15, 2020",
			title: "Nordic style, interior style for simple life",
			text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor..."
		},
			{
				img: "img/article-preview-2.jpg",
				date: "December 15, 2020",
				title: "Nordic style, interior style for simple life",
				text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor..."
			},
			{
				img: "img/article-preview-3.jpg",
				date: "December 15, 2020",
				title: "Nordic style, interior style for simple life",
				text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor..."
			}
		], 'small')
