include article-list-row

section.webpage__article-list.article-list(data-aos="fade")
	.container
		header.article-list__header
			h2.article-list__heading.heading Inspirations & xperiences
			a.article-list__more.more(href="#") more articles
		+article-list([{
			img: "img/article-preview-1.jpg",
			date: "December 15, 2020",
			title: "Nordic style, interior style for simple life",
			text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor..."
		},
			{
				img: "img/article-preview-2.jpg",
				date: "December 15, 2020",
				title: "Nordic style, interior style for simple life",
				text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor..."
			},
			{
				img: "img/article-preview-3.jpg",
				date: "December 15, 2020",
				title: "Nordic style, interior style for simple life",
				text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor..."
			}
		], 'small')
		//ul.article-list__list.row
			li.article-list__item.col-12.col-md(data-aos="fade")
				.article-preview(tebindex="0")
					.article-preview__image
						img(src="img/article-preview-1.jpg", width="356", height="356", alt="")
					.article-preview__content
						time.article-preview__date(datetime="2020-12-15") December 15, 2020
						h3.article-preview__heading Nordic style, interior style for simple life
						.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
						a.article-preview__btn(href="#") continue

			li.article-list__item.col-12.col-md(data-aos="fade", data-aos-delay="300")
				.article-preview(tebindex="0")
					.article-preview__image
						img(src="img/article-preview-2.jpg", width="356", height="356", alt="")
					.article-preview__content
						time.article-preview__date(datetime="2020-12-08") December 8, 2020
						h3.article-preview__heading Discover top 15 buildings modern in Italia
						.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
						a.article-preview__btn(href="#") continue

			li.article-list__item.col-12.col-md(data-aos="fade", data-aos-delay="600")
				.article-preview(tebindex="0")
					.article-preview__image
						img(src="img/article-preview-3.jpg", width="356", height="356", alt="")
					.article-preview__content
						time.article-preview__date(datetime="2020-12-06") December 6, 2020
						h3.article-preview__heading The dome in architectural, the attractive from the art
						.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
						a.article-preview__btn(href="#") continue
