footer.footer.footer--technical
	.footer__top
		.container
			a.footer__email(href="mailto:hello@liarch-studio.co") hello@liarch.co
			p Let tell us know your dream and we will help you make it become reality
	.container
		.footer__middle.row
			// Footer contacts
			.footer__column.col-12.col-md
				.footer__column-title Office
				address.footer__address 166 Main Street, Beverly Hills CA, 90210
				a.footer__phone(href="tel:+00853462188") +0085 346 2188
			.footer__column.col-12.col-sm
				.footer__column-title Help

				// Footer menu
				ul.footer__column-menu
					each item in FOOTER_MENU_HELP
						if item.currentPage === currentPage
							li.footer__column-item.footer__column-item--current
								a.footer__column-link= item.text
						else
							li.footer__column-item
								a.footer__column-link.animsition-link(href= item.url)= item.text

			.footer__column.col-12.col-sm
				.footer__column-title Quick Links

				// Footer menu
				ul.footer__column-menu
					each item in FOOTER_MENU_LINKS
						if item.currentSection === currentSection
							li.footer__column-item.footer__column-item--current
								a.footer__column-link= item.text
						else
							li.footer__column-item
								a.footer__column-link.animsition-link(href= item.url)= item.text
			.footer__column.footer__column.col-12.col-lg
				+social-2('footer__social social--technical', ['twitter-outline', 'facebook-outline', 'instagram', 'behance'])
		.row
			// Copyrights
			.footer__copyright.col-12.col-sm-6 © 2020 <span>LIARCH</span> All Rights Reserved
			.footer__design.col-12.col-sm-6 Development by <span>Paul Studio</span>
