footer.footer-3
	// Footer social
	ul.footer-3__socials
		li
			a(href="#", target="_blank")
				+icon('twitter')(width="14", height="14")
		li
			a(href="#", target="_blank")
				+icon('behance')(width="14", height="14")
		li
			a(href="#", target="_blank")
				+icon('instagram')(width="14", height="14")
	// Copyrights
	.footer-3__copyrights
		p © liarch 2021
		p All Rights Reserved
