footer.footer.footer--lite
	.footer__inner.container
		.row
			.col-12.col-md-4.col-lg-6
				// Copyrights
				.footer__copyright © 2020 Liarch Development by Paul Studio. <span class="grey">All Rights Reserved</span>
			.col-12.col-md-8.col-lg-6
				// Footer menu
				if isDark
					ul.footer__menu
						li.footer__menu-item
							a.footer__menu-link.animsition-link(href= URLS.pages.servicesDark) Services
						li.footer__menu-item
							a.footer__menu-link.animsition-link(href= URLS.works.gridDark) works
						li.footer__menu-item
							a.footer__menu-link.animsition-link(href= URLS.pages.defaultDark) about
						li.footer__menu-item
							a.footer__menu-link.animsition-link(href= URLS.news.gridDark) news
						li.footer__menu-item
							a.footer__menu-link.animsition-link(href= URLS.pages.contactDark) contact
				else
					ul.footer__menu
						li.footer__menu-item
							a.footer__menu-link.animsition-link(href= URLS.pages.services) Services
						li.footer__menu-item
							a.footer__menu-link.animsition-link(href= URLS.works.grid) works
						li.footer__menu-item
							a.footer__menu-link.animsition-link(href= URLS.about.default) about
						li.footer__menu-item
							a.footer__menu-link.animsition-link(href= URLS.news.grid) news
						li.footer__menu-item
							a.footer__menu-link.animsition-link(href= URLS.pages.contact) contact
