footer.footer.footer--modern
	.footer__inner.container
		.row
			.col-12.col-md-6
				.footer__appeal Kick-start your dream with Liarch Studio
				.footer__appeal Start by <a href="#">saying hi</a>
			.col-12.col-sm-4.col-md-3
				.footer__column
					.footer__column-title Services
					// Footer menu
					ul.footer__column-menu
						each item in MODERN_FOOTER_MENU_SERVICES
							if item.currentPage === currentPage
								li.footer__column-item.footer__column-item--current
									a.footer__column-link= item.text
							else
								li.footer__column-item
									a.footer__column-link.animsition-link(href= item.url)= item.text
			.col-12.col-sm-8.col-md-3
				.footer__column
					.footer__column-title Infor
					.footer__column-info
						address.footer__column-address 90 Fairground Rd, FL 3290, United States
						a.footer__column-email(href="mailto:hello@liarch.co") hello@liarch.co
					// Footer menu
					ul.footer__column-menu
						each item in MODERN_FOOTER_MENU_LINKS
							if item.currentPage === currentPage
								li.footer__column-item.footer__column-item--current
									a.footer__column-link= item.text
							else
								li.footer__column-item
									a.footer__column-link.animsition-link(href= item.url)= item.text
		.footer__bottom.row.align-items-center
			.col-12.col-sm-4.col-lg-3
				// Logo
				+logo(isHome, 'footer__logo')
			.col-12.col-sm-8.col-lg-5
				.footer__copyright © 2020 Liarch Development by Paul Studio. All Rights Reserved
			.col-12.col-lg-4.lg-d-flex
				.footer__hint Our Social
				+social-2('social--black footer__social', ['twitter', 'github-original', 'facebook', 'dribbble', 'instagram'])
