footer.footer-intro
	.footer-intro__inner.container
		.row
			.footer-intro__card.col-12.col-md-6
				.footer-intro__title(data-aos="fade")
					span Kick-start
					| your website today with Liarch!

				.footer-intro__text(data-aos="fade") Bundled with <span class="black">Elementor Page Builder, Slider Revolution and ACF Pro plugins,</span> help <span class="orange">save your money!</span>

				//-a.footer-intro__btn.btn(href="#", data-aos="fade") purchase now

				.footer-intro__copy(data-aos="fade") © 2021, liarch
			.footer-intro__card.col-12.col-md-6
				.footer-intro__image(data-aos="fade")
					img(src="img/intro/arc.png", width="549", height="833", alt="")
