footer.footer.footer--lite
	.footer__inner.container
		.row
			.col-12.col-md-4.col-lg-6
				// Copyrights
				.footer__copyright © 2020 Liarch by LoganCee. <span class="grey">All Rights Reserved</span>
			.col-12.col-md-8.col-lg-6
				// Footer menu
				ul.footer__menu
					li.footer__menu-item
						a.footer__menu-link.animsition-link(href="services.html") Services
					li.footer__menu-item
						a.footer__menu-link.animsition-link(href="works.html") works
					li.footer__menu-item
						a.footer__menu-link.animsition-link(href="about.html") about
					li.footer__menu-item
						a.footer__menu-link.animsition-link(href="news-list.html") news
					li.footer__menu-item
						a.footer__menu-link.animsition-link(href="contacts.html") contact
