form.form(action='', method='POST', data-aos="fade")
	.form__title Ready to get started
	.form__subtitle Ask away! Our supporters will response within 24 hours
	.form__group
		label.form__field.field
			input(type='text', name='full-name', placeholder='Full Name')
			span.field__hint Full Name
			.underline
		label.form__field.field
			input(type='email', name='email', placeholder='Email Address *', required)
			span.field__hint Email Address <span class="red">*</span>
			.underline
		label.form__field.field
			input(type='text', name='subject', placeholder='Subject')
			span.field__hint Subject
			.underline
	label.form__field.form__field--width-full.form__field--textarea.field
		textarea(name='message', placeholder='Your message here')
		span.field__hint Your message here
		.underline
	button.form__submit(type='submit') Send Message
