header.header.header--intro.header--absolute.__js_fixed-header
	.header__inner
		+logo(isHome, 'header__logo')

		nav.header__nav.navigation
			ul.navigation__list
				each item, index in INTRO_MENU
					if index === 0
						li.navigation__item.navigation__item--current
							a.navigation__link.__js_to-next-section(href= item.url)= item.text
					else
						li.navigation__item
							a.navigation__link.animsition-link(href= item.url)= item.text
							if item.submenu
								+navigation-dropdown-home(item.submenu)

		//-a.header__purchase.btn(href='#')
			span.header__purchase-text purchase now
			+icon('wallet')(width="16", height="16")
		button.header__menu-toggle.menu-toggle(type="button")
			span.visually-hidden Menu
