header.header(data-aos="fade")
  .header__inner
    //- Логотип
    +logo(isHome, 'header__logo')

    nav.header__nav.navigation
      ul.navigation__list
        each item in MAIN_MENU
          if item.currentIndex === currentIndex
            li.navigation__item.navigation__item--current
              a.navigation__link= item.text
          else
            li.navigation__item
              a.navigation__link(href= item.url)= item.text
    a.header__chat.lets-chat(href="#")
      span.lets-chat__text Let’s chat!
      span.lets-chat__icon
        +icon('comments-reply')(width="18", height="18")
    button.header__search-toggle.search-toggle(type="button")
      +icon('search')(width="22", height="22")
      span.visually-hidden Show search field
    button.header__menu-toggle.menu-toggle(type="button")
      span.visually-hidden Menu
