header.header.header-3
	.header__inner
		// Logo
		+logo(isHome, 'header__logo')

		// Burger
		.header__menu-toggle-wrapper
			span Menu
			button.header__menu-toggle.header__menu-toggle--always.menu-toggle(type="button")
