header.header.header--aside
	.header__inner
		// Logo
		+logo(isHome, 'header__logo')

		// Language switcher
		ul.header__lang-switcher.lang-switcher
			li.lang-switcher__item
				a.lang-switcher__link.lang-switcher__link--current en
			li.lang-switcher__item
				a.lang-switcher__link(href="#") fr
			li.lang-switcher__item
				a.lang-switcher__link(href="#") de

		// Header menu
		nav.header__nav.navigation.navigation--column
			//- Для темной темы подставляем другой массив, со ссылками на темные страницы
			- let ASIDE_MENU = isDark ? MAIN_MENU_DARK : MAIN_MENU;
			ul.navigation__list
				each item, index in ASIDE_MENU
					if item.currentSection === currentSection && item.currentPage === currentPage
						li.navigation__item.navigation__item--current
							a.navigation__link.__js_nav-dropdown-link= item.text
							if item.submenu
								if index === 0
									+navigation-dropdown-home(item.submenu)
								else
									+navigation-dropdown(item.submenu)
					else if item.currentSection === currentSection && item.currentPage !== currentPage
						li.navigation__item.navigation__item--current
							a.navigation__link.__js_nav-dropdown-link(href= item.url)= item.text
							if item.submenu
								if index === 0
									+navigation-dropdown-home(item.submenu)
								else
									+navigation-dropdown(item.submenu)
					else
						li.navigation__item
							a.navigation__link.__js_nav-dropdown-link(href= item.url)= item.text
							if item.submenu
								if index === 0
									+navigation-dropdown-home(item.submenu)
								else
									+navigation-dropdown(item.submenu)


		+social-2('header__social', ['twitter', 'facebook', 'instagram'])

		// Contacts
		.header__contacts
			address.header__address 166 Main Street, Beverly Hills CA, 90210
			a.header__phone(href="tel:+00853462188") +0085 346 2188

		// Burger
		button.header__toggle.header-toggle(type="button")
			span.line
			span.visually-hidden Menu
