section.hero
  .container
    .row.align-items-center
      .hero__intro.col-12.col-md-7.order-md-1
        .hero__image
          img(src="img/hero-image.jpg", width="899", height="776", alt="")
      .hero__content.col-12.col-md-5
        h1.hero__heading.heading An-awards winning architects company
        .hero__text Like any great agency, we are only as good as the  result we deliver of our recent work
        .hero__buttons
          a.btn(href="#") Get Started
        .hero__notice If you're hurry, quick call for us. Our supporters alway 24/7 and will help you asap
        .hero__phone.phone-block
          .phone-block__icon
            +icon('phone')(width="18", height="18")
          .phone-block__content
            .phone-block__hint hotline 24/7
            a.phone-block__number(href="tel:+6530025656376") +65 - 3002 56 56 376

