section.webpage__an-awards.an-awards
  .container
    .row.align-items-center
      .an-awards__intro.col-12.col-md.col-lg-7.order-md-1.wow.fadeInRight.delay-1s
        .an-awards__image
          img(src="img/an-awards-image.jpg", width="899", height="776", alt="")
      .an-awards__content.col-12.col-md.col-lg-5.wow.fadeInLeft.delay-1s
        h1.an-awards__heading.heading.heading--h1 An-awards winning architects company
        .an-awards__text Like any great agency, we are only as good as the  result we deliver of our recent work
        .an-awards__buttons
          a.btn(href="#") Get Started
        .an-awards__notice If you're hurry, quick call for us. Our supporters alway 24/7 and will help you asap
        .an-awards__phone.phone-block
          .phone-block__icon
            +icon('phone')(width="18", height="18")
          .phone-block__content
            .phone-block__hint hotline 24/7
            a.phone-block__number(href="tel:+6530025656376") +65 - 3002 56 56 376

