// Hero banner
.webpage__hero-banner.hero-banner(data-aos="fade")
	.hero-banner__inner.container
		.swiper-container.__js_hero-banner
			.swiper-wrapper
				.hero-banner__item.swiper-slide
					.hero-banner__item-left
						.hero-banner__item-title 3d CGI <br>Architectural <br>& interior
						.hero-banner__item-text We’re from Poland, we passioned with the space & create the values vsustainable over time
						.hero-banner__video-btn.video-btn.video-btn--size-large.video-btn--outline
							a.video-btn__btn.__js_open-modal(href="#ourStory")
								span.visually-hidden Play
								+icon('play')(width="20", height="20")
							span.video-btn__text see our <br>story
					.hero-banner__item-right
						.hero-banner__item-fact.fact.fact--white
							.fact__title years of experience
							.fact__value 20
						.hero-banner__item-fact.fact.fact--white
							.fact__title awards achievement
							.fact__value 135
				.hero-banner__item.swiper-slide
					.hero-banner__item-left
						.hero-banner__item-title 3d CGI <br>Architectural <br>& interior
						.hero-banner__item-text We’re from Poland, we passioned with the space & create the values vsustainable over time
						.hero-banner__video-btn.video-btn.video-btn--size-large.video-btn--outline
							a.video-btn__btn.__js_open-modal(href="#ourStory")
								span.visually-hidden Play
								+icon('play')(width="20", height="20")
							span.video-btn__text view our story
					.hero-banner__item-right
						.hero-banner__item-fact.fact.fact--white
							.fact__title years of experience
							.fact__value 20
						.hero-banner__item-fact.fact.fact--white
							.fact__title awards achievement
							.fact__value 135
				.hero-banner__item.swiper-slide
					.hero-banner__item-left
						.hero-banner__item-title 3d CGI <br>Architectural <br>& interior
						.hero-banner__item-text We’re from Poland, we passioned with the space & create the values vsustainable over time
						.hero-banner__video-btn.video-btn.video-btn--size-large.video-btn--outline
							a.video-btn__btn.__js_open-modal(href="#ourStory")
								span.visually-hidden Play
								+icon('play')(width="20", height="20")
							span.video-btn__text view our story
					.hero-banner__item-right
						.hero-banner__item-fact.fact.fact--white
							.fact__title years of experience
							.fact__value 20
						.hero-banner__item-fact.fact.fact--white
							.fact__title awards achievement
							.fact__value 135

			.swiper-pagination
	a.hero-banner__down.__js_to-next-section(href="#simplicity")
		span.visually-hidden
		+icon('chevron-down')(width="26", height="26")
