// Hero banner

#rev_slider_wrapper.rev_slider_wrapper.fullscreen-container(data-alias='website-intro' data-source='gallery')
	#rev_slider.rev_slider.fullscreenbanner.tiny_bullet_slider(style='display:none;' data-version='5.4.1')
		ul
			li(data-transition='slideleft' data-slotamount='default'  data-masterspeed="1000" data-fsmasterspeed="1000")
				img.rev-slidebg(src='img/hero.jpg' data-bgparallax="5"  alt="" data-bgposition="center 0" data-bgfit="cover" data-bgrepeat="no-repeat")
				.tp-caption.tp-resizeme(data-x="['center','center','center','center']" data-hoffset="['1','1','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['90','90','70','50']" data-lineheight="['90','90','70','50']" data-width="['none','none','481','360']" data-height='none' data-whitespace="['nowrap','nowrap','normal','normal']" data-type='text' data-responsive_offset='off' data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop='[0,0,0,0]' data-paddingright='[0,0,0,0]' data-paddingbottom='[0,0,0,0]' data-paddingleft='[0,0,0,0]')
					.hero-banner__item
						.hero-banner__item-left
							.hero-banner__item-title 3d CGI <br>Architectural <br>& interior
							.hero-banner__item-text We’re from Poland, we passioned with the space & create the values vsustainable over time
							.hero-banner__video-btn.video-btn.video-btn--size-large.video-btn--outline
								a.video-btn__btn.fancybox(href="#ourStory")
									span.visually-hidden Play
									+icon('play')(width="20", height="20")
								span.video-btn__text see our <br>story
						.hero-banner__item-right
							.hero-banner__item-fact.fact.fact--white
								.fact__title years of experience
								.fact__value 20
							.hero-banner__item-fact.fact.fact--white
								.fact__title awards achievement
								.fact__value 135

			//-li(data-transition='slideleft' data-slotamount='default'  data-masterspeed="1000" data-fsmasterspeed="1000")
				img.rev-slidebg(src='img/hero.jpg' data-bgparallax="5"  alt="" data-bgposition="center 0" data-bgfit="cover" data-bgrepeat="no-repeat")
				.tp-caption.tp-resizeme(data-x="['center','center','center','center']" data-hoffset="['1','1','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['90','90','70','50']" data-lineheight="['90','90','70','50']" data-width="['none','none','481','360']" data-height='none' data-whitespace="['nowrap','nowrap','normal','normal']" data-type='text' data-responsive_offset='off' data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop='[0,0,0,0]' data-paddingright='[0,0,0,0]' data-paddingbottom='[0,0,0,0]' data-paddingleft='[0,0,0,0]')
					.hero-banner__item
						.hero-banner__item-left
							.hero-banner__item-title 3d CGI <br>Architectural <br>& interior
							.hero-banner__item-text We’re from Poland, we passioned with the space & create the values vsustainable over time
							.hero-banner__video-btn.video-btn.video-btn--size-large.video-btn--outline
								a.video-btn__btn.__js_open-modal(href="#ourStory")
									span.visually-hidden Play
									+icon('play')(width="20", height="20")
								span.video-btn__text see our <br>story
						.hero-banner__item-right
							.hero-banner__item-fact.fact.fact--white
								.fact__title years of experience
								.fact__value 20
							.hero-banner__item-fact.fact.fact--white
								.fact__title awards achievement
								.fact__value 135

			//-li(data-transition='slideleft' data-slotamount='default'  data-masterspeed="1000" data-fsmasterspeed="1000")
				img.rev-slidebg(src='img/an-awards-bg.jpg' data-bgparallax="5"  alt="" data-bgposition="center 0" data-bgfit="cover" data-bgrepeat="no-repeat")
				.tp-caption.tp-resizeme(data-x="['center','center','center','center']" data-hoffset="['1','1','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['90','90','70','50']" data-lineheight="['90','90','70','50']" data-width="['none','none','481','360']" data-height='none' data-whitespace="['nowrap','nowrap','normal','normal']" data-type='text' data-responsive_offset='off' data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop='[0,0,0,0]' data-paddingright='[0,0,0,0]' data-paddingbottom='[0,0,0,0]' data-paddingleft='[0,0,0,0]')
					.hero-banner__item
						.hero-banner__item-left
							.hero-banner__item-title 3d CGI <br>Architectural <br>& interior
							.hero-banner__item-text We’re from Poland, we passioned with the space & create the values vsustainable over time
							.hero-banner__video-btn.video-btn.video-btn--size-large.video-btn--outline
								a.video-btn__btn.__js_open-modal(href="#ourStory")
									span.visually-hidden Play
									+icon('play')(width="20", height="20")
								span.video-btn__text see our <br>story
						.hero-banner__item-right
							.hero-banner__item-fact.fact.fact--white
								.fact__title years of experience
								.fact__value 20
							.hero-banner__item-fact.fact.fact--white
								.fact__title awards achievement
								.fact__value 135


			//-li(data-transition='slideleft' data-slotamount='default'  data-masterspeed="1000" data-fsmasterspeed="1000")
				img.rev-slidebg(src='img/slider/slide-1.jpg' data-bgparallax="5"  alt="" data-bgposition="center 0" data-bgfit="cover" data-bgrepeat="no-repeat")
				.tp-caption.tp-resizeme(data-x="['center','center','center','center']" data-hoffset="['1','1','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['90','90','70','50']" data-lineheight="['90','90','70','50']" data-width="['none','none','481','360']" data-height='none' data-whitespace="['nowrap','nowrap','normal','normal']" data-type='text' data-responsive_offset='off' data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop='[0,0,0,0]' data-paddingright='[0,0,0,0]' data-paddingbottom='[0,0,0,0]' data-paddingleft='[0,0,0,0]')
					.hero-banner__item
						.hero-banner__item-left
							.hero-banner__item-title 3d CGI <br>Architectural <br>& interior
							.hero-banner__item-text We’re from Poland, we passioned with the space & create the values vsustainable over time
							.hero-banner__video-btn.video-btn.video-btn--size-large.video-btn--outline
								a.video-btn__btn.__js_open-modal(href="#ourStory")
									span.visually-hidden Play
									+icon('play')(width="20", height="20")
								span.video-btn__text see our <br>story
						.hero-banner__item-right
							.hero-banner__item-fact.fact.fact--white
								.fact__title years of experience
								.fact__value 20
							.hero-banner__item-fact.fact.fact--white
								.fact__title awards achievement
								.fact__value 135


		.tp-bannertimer.tp-bottom(style='height: 5px; background: rgb(87,202,133);')


//-.webpage__hero-banner.hero-banner(data-aos="fade")
	.hero-banner__inner.container
		.swiper-container.__js_hero-banner
			.swiper-wrapper
				.hero-banner__item.swiper-slide
					.hero-banner__item-left
						.hero-banner__item-title 3d CGI <br>Architectural <br>& interior
						.hero-banner__item-text We’re from Poland, we passioned with the space & create the values vsustainable over time
						.hero-banner__video-btn.video-btn.video-btn--size-large.video-btn--outline
							a.video-btn__btn.fancybox(href="#ourStory")
								span.visually-hidden Play
								+icon('play')(width="20", height="20")
							span.video-btn__text see our <br>story
					.hero-banner__item-right
						.hero-banner__item-fact.fact.fact--white
							.fact__title years of experience
							.fact__value 20
						.hero-banner__item-fact.fact.fact--white
							.fact__title awards achievement
							.fact__value 135
				.hero-banner__item.swiper-slide
					.hero-banner__item-left
						.hero-banner__item-title 3d CGI <br>Architectural <br>& interior
						.hero-banner__item-text We’re from Poland, we passioned with the space & create the values vsustainable over time
						.hero-banner__video-btn.video-btn.video-btn--size-large.video-btn--outline
							a.video-btn__btn.fancybox(href="#ourStory")
								span.visually-hidden Play
								+icon('play')(width="20", height="20")
							span.video-btn__text view our story
					.hero-banner__item-right
						.hero-banner__item-fact.fact.fact--white
							.fact__title years of experience
							.fact__value 20
						.hero-banner__item-fact.fact.fact--white
							.fact__title awards achievement
							.fact__value 135
				.hero-banner__item.swiper-slide
					.hero-banner__item-left
						.hero-banner__item-title 3d CGI <br>Architectural <br>& interior
						.hero-banner__item-text We’re from Poland, we passioned with the space & create the values vsustainable over time
						.hero-banner__video-btn.video-btn.video-btn--size-large.video-btn--outline
							a.video-btn__btn.fancybox(href="#ourStory")
								span.visually-hidden Play
								+icon('play')(width="20", height="20")
							span.video-btn__text view our story
					.hero-banner__item-right
						.hero-banner__item-fact.fact.fact--white
							.fact__title years of experience
							.fact__value 20
						.hero-banner__item-fact.fact.fact--white
							.fact__title awards achievement
							.fact__value 135

			.swiper-pagination
	a.hero-banner__down.__js_to-next-section(href="#simplicity")
		span.visually-hidden
		+icon('chevron-down')(width="26", height="26")
