section.webpage__latest-projects.latest-projects
  .container
    header.latest-projects__header
      h2.latest-projects__heading.heading Our latest projects
      a.latest-projects__more.more(href="#") see all projects
  .latest-projects__inner.container
    .latest-projects__slider.__js_latest-projects--single
      .latest-projects__item
        img(src="img/slider/slide-1.jpg", width="1145", height="650", alt="")
        .latest-projects__item-content
          .latest-projects__item-detail 2020  -  Kiev, Ukraine
          .latest-projects__item-heading Cubic Blockes Hotel

      .latest-projects__item
        img(src="img/slider/slide-2.jpg", width="1145", height="650", alt="")
        .latest-projects__item-content
          .latest-projects__item-detail 2020  -  Belgium
          .latest-projects__item-heading Dogel Nord Station

      .latest-projects__item
        img(src="img/slider/slide-3.jpg", width="1145", height="650", alt="")
        .latest-projects__item-content
          .latest-projects__item-detail 2019  -  Vancouver, Canada
          .latest-projects__item-heading Cabin Wood In Forest

      .latest-projects__item
        img(src="img/slider/slide-4.jpg", width="1145", height="650", alt="")
        .latest-projects__item-content
          .latest-projects__item-detail 2019  -  Iasi, Romania
          .latest-projects__item-heading Daniel Villa, Romania
