// Latest projects
section.webpage__latest-projects.latest-projects
	.container
		header.latest-projects__header(data-aos="fade")
			h2.latest-projects__heading.heading Our latest projects
			a.latest-projects__more.more(href="#") see all projects
	.latest-projects__inner.container
		.latest-projects__slider.slider.slider--single.swiper-container.__js_slider-single(data-aos="fade")
			.swiper-wrapper
				.slider__item.slide.swiper-slide
					img(src="img/slider/slide-1.jpg", width="1145", height="650", alt="")
					.slide__content.slide-content
						.slide-content__detail 2020  -  Kiev, Ukraine
						.slide-content__heading Cubic Blockes Hotel

				.slider__item.slide.swiper-slide
					img(src="img/slider/slide-2.jpg", width="1145", height="650", alt="")
					.slide__content.slide-content
						.slide-content__detail 2020  -  Belgium
						.slide-content__heading Dogel Nord Station

				.slider__item.slide.swiper-slide
					img(src="img/slider/slide-3.jpg", width="1145", height="650", alt="")
					.slide__content.slide-content
						.slide-content__detail 2019  -  Vancouver, Canada
						.slide-content__heading Cabin Wood In Forest

				.slider__item.slide.swiper-slide
					img(src="img/slider/slide-4.jpg", width="1145", height="650", alt="")
					.slide__content.slide-content
						.slide-content__detail 2019  -  Iasi, Romania
						.slide-content__heading Daniel Villa, Romania
			.swiper-pagination
