section.webpage__masonry.masonry
	.masonry-item
		.article-preview
			.article-preview__image
				img(src='img/masonry/item-12.jpg', alt='')
				.article-preview__outer-content
					.article-preview__tag news
					.article-preview__title Discover top 15 buildings modern in Italia
					.article-preview__publish-date December 14, 2020
			.article-preview__content
				.article-preview__date December 15, 2020
				h3.article-preview__heading Nordic style, interior style for simple life
				.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
				a.article-preview__btn(href="#") continue
	.masonry-item
		.article-preview
			.article-preview__image
				img(src='img/masonry/item-2.jpg', alt='')
				.article-preview__outer-content
					.article-preview__tag news
					.article-preview__title Discover top 15 buildings modern in Italia
					.article-preview__publish-date December 14, 2020
			.article-preview__content
				.article-preview__date December 15, 2020
				h3.article-preview__heading Nordic style, interior style for simple life
				.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
				a.article-preview__btn(href="#") continue
	.masonry-item
		.article-preview
			.article-preview__image
				img(src='img/masonry/item-3.jpg', alt='')
				.article-preview__outer-content
					.article-preview__tag inspiration
					.article-preview__title Discover top 25 architecture buildings in 2020
					.article-preview__publish-date December 13, 2020
			.article-preview__content
				.article-preview__date December 15, 2020
				h3.article-preview__heading Nordic style, interior style for simple life
				.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
				a.article-preview__btn(href="#") continue
	.masonry-item
		.article-preview
			.article-preview__image
				img(src='img/masonry/item-4.jpg', alt='')
				.article-preview__outer-content
					.article-preview__tag product
					.article-preview__title The dome in architectural, the attractive from the art
					.article-preview__publish-date December 12, 2020
			.article-preview__content
				.article-preview__date December 15, 2020
				h3.article-preview__heading Nordic style, interior style for simple life
				.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
				a.article-preview__btn(href="#") continue
	.masonry-item
		.article-preview
			.article-preview__image
				img(src='img/masonry/item-7.jpg', alt='')
				.article-preview__outer-content
					.article-preview__tag tips & tricks
					.article-preview__title The trending of interior in Winter 2020
					.article-preview__publish-date November 24, 2020
			.article-preview__content
				.article-preview__date December 15, 2020
				h3.article-preview__heading Nordic style, interior style for simple life
				.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
				a.article-preview__btn(href="#") continue
	.masonry-item
		.article-preview
			.article-preview__image
				img(src='img/masonry/item-6.jpg', alt='')
				.article-preview__outer-content
					.article-preview__tag product
					.article-preview__title Scadinavian Interior
					.article-preview__publish-date December 3, 2020
			.article-preview__content
				.article-preview__date December 15, 2020
				h3.article-preview__heading Nordic style, interior style for simple life
				.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
				a.article-preview__btn(href="#") continue
	.masonry-item
		.article-preview
			.article-preview__image
				img(src='img/masonry/item-8.jpg', alt='')
				.article-preview__outer-content
					.article-preview__tag tips & tricks
					.article-preview__title Interior design in luxury style for your house
					.article-preview__publish-date November 20, 2020
			.article-preview__content
				.article-preview__date December 15, 2020
				h3.article-preview__heading Nordic style, interior style for simple life
				.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
				a.article-preview__btn(href="#") continue
	.masonry-item
		.article-preview
			.article-preview__image
				img(src='img/masonry/item-5.jpg', alt='')
				.article-preview__outer-content
					.article-preview__tag inspiration
					.article-preview__title Perfect solutions for street’s house impressive more
					.article-preview__publish-date December 7, 2020
			.article-preview__content
				.article-preview__date December 15, 2020
				h3.article-preview__heading Nordic style, interior style for simple life
				.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
				a.article-preview__btn(href="#") continue
	.masonry-item
		.article-preview
			.article-preview__image
				img(src='img/masonry/item-11.jpg', alt='')
				.article-preview__outer-content
					.article-preview__tag inspiration
					.article-preview__title Combine solid color with simple furnitures
					.article-preview__publish-date November 11, 2020
			.article-preview__content
				.article-preview__date December 15, 2020
				h3.article-preview__heading Nordic style, interior style for simple life
				.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
				a.article-preview__btn(href="#") continue
	.masonry-item
		.article-preview
			.article-preview__image
				img(src='img/masonry/item-9.jpg', alt='')
				.article-preview__outer-content
					.article-preview__tag inspiration
					.article-preview__title Top 10 Minimalist architectures
					.article-preview__publish-date November 18, 2020
			.article-preview__content
				.article-preview__date December 15, 2020
				h3.article-preview__heading Nordic style, interior style for simple life
				.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
				a.article-preview__btn(href="#") continue
	.masonry-item
		.article-preview
			.article-preview__image
				img(src='img/masonry/item-12.jpg', alt='')
				.article-preview__outer-content
					.article-preview__tag products
					.article-preview__title Matt Seymour, Architect of Liarch winner at AWA US
					.article-preview__publish-date November 7, 2020
			.article-preview__content
				.article-preview__date December 15, 2020
				h3.article-preview__heading Nordic style, interior style for simple life
				.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
				a.article-preview__btn(href="#") continue
	.masonry-item
		.article-preview
			.article-preview__image
				img(src='img/masonry/item-10.jpg', alt='')
				.article-preview__outer-content
					.article-preview__tag inspiration
					.article-preview__title Dark bedroom
					.article-preview__publish-date November 17, 2020
			.article-preview__content
				.article-preview__date December 15, 2020
				h3.article-preview__heading Nordic style, interior style for simple life
				.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
				a.article-preview__btn(href="#") continue
	.masonry-item
		.article-preview
			.article-preview__image
				img(src='img/masonry/item-15.jpg', alt='')
				.article-preview__outer-content
					.article-preview__tag inspiration
					.article-preview__title Double rectangle houses from containers
					.article-preview__publish-date October 21, 2020
			.article-preview__content
				.article-preview__date December 15, 2020
				h3.article-preview__heading Nordic style, interior style for simple life
				.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
				a.article-preview__btn(href="#") continue
	.masonry-item
		.article-preview
			.article-preview__image
				img(src='img/masonry/item-14.jpg', alt='')
				.article-preview__outer-content
					.article-preview__tag inspiration
					.article-preview__title Mixed from cubic blockes, inspiration & technical
					.article-preview__publish-date October 28, 2020
			.article-preview__content
				.article-preview__date December 15, 2020
				h3.article-preview__heading Nordic style, interior style for simple life
				.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
				a.article-preview__btn(href="#") continue
	.masonry-item
		.article-preview
			.article-preview__image
				img(src='img/masonry/item-13.jpg', alt='')
				.article-preview__outer-content
					.article-preview__tag tips & tricks
					.article-preview__title The solutions for houses in Texas’s mountain
					.article-preview__publish-date November 2, 2020
			.article-preview__content
				.article-preview__date December 15, 2020
				h3.article-preview__heading Nordic style, interior style for simple life
				.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
				a.article-preview__btn(href="#") continue
	.masonry-item
		.article-preview
			.article-preview__image
				img(src='img/masonry/item-16.jpg', alt='')
				.article-preview__outer-content
					.article-preview__tag inspiration
					.article-preview__title AAW Winners 2020
					.article-preview__publish-date October 19, 2020
			.article-preview__content
				.article-preview__date December 15, 2020
				h3.article-preview__heading Nordic style, interior style for simple life
				.article-preview__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim tortor vitae mattis tempor...
				a.article-preview__btn(href="#") continue
