section.menu
  .menu__inner
    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique pariatur inventore hic maiores omnis corrupti aliquam sint, ex aperiam non vero nesciunt ipsam repellat at placeat. Asperiores reiciendis odit laboriosam.
