// Popup video
section.modal.modal--video#ourStory
  .modal__inner
    button.modal__close(type="button")
      +icon('close')(width="24", height="24")
      span.visually-hidden Close modal
    video(controls, preload="none")
      source(src="video/video.mp4" type="video/mp4")

// Popup thanks
section.popup.popup--thanks#thanks(style='display: none')
  .popup__title Thanks!
