// Our story
section.webpage__our-story.our-story
  .our-story__inner.container
    .row.align-items-center
      .our-story__intro.col-12.col-md.col-lg-7(data-aos="fade-right")
        .our-story__image
          img(src="img/our-story-image.png", width="851", height="777" alt="")
          .our-story__intro-wrapper
            .our-story__exp
              span.our-story__exp-value 25
              span.our-story__exp-text years <br>of experience
            .our-story__intro-text The Leading In Architectural & Interior
      .our-story__content.col-12.col-md.col-lg-5(data-aos="fade-left")
        h2.our-story__heading.heading We can create more than you expect
        .our-story__text.our-story__text--style-bolditalic
          | Over 25 years Liarch helping investors building their dream & business goals go to the perfection
        .our-story__text
          | Over the years, we have worked with Fortune 500s and brand-new startups.. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers, and growing overall sales. Give us a call.
        .our-story__buttons
          a.our-story__btn.btn.btn--outline(href="#") Learn More
          .our-story__video-btn.video-btn
            a.video-btn__btn.__js_open-modal(href="#ourStory")
              span.visually-hidden Play
              +icon('play')(width="20", height="20")
            span.video-btn__text view our story
    .our-story__statistics.statistics.row(data-aos="fade")
      .statistics__item.col-12.col-sm
        .statistics__item-value <span class="__js_number" data-end-value="100">0</span>%
        .statistics__item-text satisfitation <br>clients
      .statistics__item.col-12.col-sm
        .statistics__item-value
          span.__js_number(data-end-value="250") 0
        .statistics__item-text employees on <br>worldwide
      .statistics__item.col-12.col-lg
        .statistics__item-value
          span.__js_number(data-end-value="3875") 0
        .statistics__item-text projects completed <br>on 60 countries
