section.our-story
  .container
    .row
      .our-story__intro.col-12.col-md
        .our-story__image
          img(src="", alt="")
        .our-story__exp
          span.our-story__exp-value 25
          span.our-story__exp-text years of experience
        .our-story__intro-text The Leading In Architectural & Interior
      .our-story__content.col-12.col-md
        h2.our-story__heading.heading We can create more than you expect
        .our-story__text.our-story__text--style-bolditalic
          | Over 25 years Liarch helping investors building their dream & business goals go to the perfection
        .our-story__text
          | Over the years, we have worked with Fortune 500s and brand-new startups.. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers, and growing overall sales. Give us a call.
        .our-story__buttons
          a.our-story__btn.btn.btn--outline(href="#") Learn More
          .our-story__video-btn
            a.btn.btn--play(href="#")
              span.visually-hidden Play
              +icon('play')(width="20", height="20")
            span view our story
    .our-story__statistics.statistics.row
      .statistics__item.col-12.col-md
        .statistics__item-value 100%
        .statistics__iteem-text satisfitation clients
      .statistics__item.col-12.col-md
        .statistics__item-value 250
        .statistics__iteem-text employees on worldwide
      .statistics__item.col-12.col-md
        .statistics__item-value 3,875
        .statistics__iteem-text projects completed on 60 countries
