section.pagination(data-aos="fade")
	.pagination
		a.pagination__btn.pagination__btn--prev(href='#', style='display: none') prev
		.pagination__links
			a.pagination__link(href='#') 1
			span.pagination__link.active 2
			a.pagination__link(href='#') 3
			span.pagination__link ...
			a.pagination__link(href='#') 5
		a.pagination__btn.pagination__btn--next(href='#') next
