section.webpage__partners.partners
  .partners__inner.container
    h2.partners__heading.heading(data-aos="fade") Our trusted partners
    .partners__text(data-aos="fade") Your succesful, our reputation! We are proud to accompany more than 30 major brands
    ul.partners__list
      - let delay = 0;
      each item, index in PARTNERS_LOGO
        - delay = index % 5 === 0 ? 0 : delay + 200;
        li.partners__item(data-aos="fade", data-aos-delay= delay)
          img(src="img/partners/" + item.name + ".png", width= item.w, height= item.h, alt= item.alt)
    .partners__line
