section.webpage__partners.partners.wow.fadeInUp
  .partners__inner.container
    h2.partners__heading.heading Our trusted partners
    .partners__text Your succesful, our reputation! We are proud to accompany more than 30 major brands
    ul.partners__list.wow.fadeInUp
      each item in PARTNERS_LOGO
        li.partners__item
          img(src="img/partners/" + item.name + ".png", width= item.w, height= item.h, alt= item.alt)
