section.webpage__review.review
  .review__inner.container
    .row
      .review__image.col-12.col-md-6.order-md-1.wow.fadeInRight
        img(src="img/review-image.jpg", width="674", heigth="630", alt="")
      .review__content.col-12.col-md-6.align-self-center.wow.fadeInLeft
        .review__text I don’t know what else to say, this is something that you haven’t seen before. Unique design, impressive, and outstanding support. Liarch always a pleasure to work!

        .review__author
          .review__author-name Laura Lorewnce
          .review__author-detail Director at <span>Cubic Hotel, Ukranie</span>

