// Review
section.webpage__review.review
  .review__inner.container
    .row
      .review__image.col-12.col-md-6.order-md-1

        each item in REVIEW_IMAGES
          span(class="review__image-author review__image-author--" + item.mod, data-aos= item.aos)
            img(src="img/review/" + item.name + ".jpg", width= item.w, height= item.h, alt="")

      .review__content.col-12.col-md-6.align-self-center(data-aos="fade")
        .review__text I don’t know what else to say, this is something that you haven’t seen before. Unique design, impressive, and outstanding support. Liarch always a pleasure to work!

        .review__author
          .review__author-name Laura Lorewnce
          .review__author-detail Director at <span>Cubic Hotel, Ukranie</span>

