section.webpage__rewards.rewards(data-aos="fade")
	.rewards__inner.container
		header.rewards__header
			h2.rewards__heading.heading(data-aos="fade") Rewards for our efforts
		ul.rewards__list
			li.rewards__item.reward(data-aos="fade")
				time.reward__date(datetime="2020") 2020
				.reward__logo
					img(src="img/rewards-logo/01.png", alt="")
				.reward__content
					.reward__project
						.reward__project-wrap
							.reward__project-name
								a(href="") AAG Winner 2020
							.reward__project-text Canbin Wood In Forest
						a.reward__project-link(href="#") see project
					.reward__project
						.reward__project-wrap
							.reward__project-name
								a(href="") Top 25 Best Architectural In Poland
							.reward__project-text Daniel Villa, Romania
						a.reward__project-link(href="#") see project
			li.rewards__item.reward(data-aos="fade")
				time.reward__date(datetime="2019") 2019
				.reward__logo
					img(src="img/rewards-logo/02.png", alt="")
				.reward__content
					.reward__project
						.reward__project-wrap
							.reward__project-name
								a(href="") The Architect of Season Winner
							.reward__project-text Architect Thiago Alcantara
						a.reward__project-link(href="#") see project
					.reward__project
						.reward__project-wrap
							.reward__project-name
								a(href="") The Green of Arch by AAL US 2019, Slovakia
							.reward__project-text Endora Commercial Center, Germany
						a.reward__project-link(href="#") see project
					.reward__project
						.reward__project-wrap
							.reward__project-name
								a(href="") Art of The Year 2019
							.reward__project-text Reuse Cabins
						a.reward__project-link(href="#") see project
			li.rewards__item.reward(data-aos="fade")
				time.reward__date(datetime="2018") 2018
				.reward__logo
					img(src="img/rewards-logo/03.png", alt="")
				.reward__content
					.reward__project
						.reward__project-wrap
							.reward__project-name
								a(href="") The Trending of Interior 2018 by OKA
							.reward__project-text B65 Apartment, Sepro Building, Italy
						a.reward__project-link(href="#") see project
