// Timer
.timer(data-time-out="2020-12-23T00:00:00")
	.timer__digit
		p(class='js-stock-countdown-d') 36
		span Days
	.timer__digit
		p(class='js-stock-countdown-h') 08
		span Hours
	.timer__digit
		p(class='js-stock-countdown-m') 45
		span Minutes
	.timer__digit
		p(class='js-stock-countdown-s') 22
		span Seconds
