section.webpage__type-service.type-service
  .container
    h2.type-service__heading.heading Best solutions for your dream
    .type-service__text We provide best solutions for your dream, still adapt your budget & still match twith requires about quality of project

    ul.type-service__list.row
      li.type-service__item.col-12.col-md
        .type-service__item-icon.type-service__item-icon--interior
          +icon('ruler-pencil')(width="49", height="49")
        h3.type-service__item-heading
          a(href="#") Architecture & Interior
        .type-service__item-text Architecture Design, Interior Design, Landscape Design, Commercial, Residential, 3D Visualization
        a.type-service__item-link(href="#") 256 projects

      li.type-service__item.col-12.col-md
        .type-service__item-icon.type-service__item-icon--design
          +icon('vector')(width="49", height="49")
        h3.type-service__item-heading
          a(href="#") Design & Photography
        .type-service__item-text Web Design, Mobile App Design, 3D Design, CGI, Character, Motion, Photography
        a.type-service__item-link(href="#") 64 projects

      li.type-service__item.col-12.col-md
        .type-service__item-icon.type-service__item-icon--furniture
          +icon('package')(width="49", height="49")
        h3.type-service__item-heading
          a(href="#") Furniture Products Production
        .type-service__item-text Sofa, Chair, Wood Furnitures, Shelf, Bed, Decoration, Structure, Celling, Flooring, Walls
        a.type-service__item-link(href="#") 8,256 items
