html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;

	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: $font-family--main;

	@include text();
	font-weight: 400;
	-webkit-locale: auto;
	white-space: normal;
}

main {
	position: relative;
	z-index: 1;
	flex-grow: 1;
	background-color: $color-default-white;
}

a {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

// временно для ПП
@include media(xl) {
	.container {
		//max-width: 1200px !important;
	}
}

input,
select,
textarea {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	outline: 0;
	-webkit-appearance: none;
}

@keyframes text-rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(-360deg);
	}
}
