$width--full: 1550px;
// Colors
//---------------------------------
$color-default-white: #ffffff;
$color-default-black: #000000;

//$color-main: #616161;
//$color-dark: #141419;
$color-smoky: #f9fbfd;

$color-grey: #999999;
$color-grey2: #666666;
$color-grey3: #cccccc;
$color-grey4: #dddddd;
$color-grey5: #d6d6d6;

$color-pale-pink: #faece7;

$color-orange--dark: #f5480c;
$color-orange: #ff4800;
$color-orange-hover: lighten(#ff4800, 10%);

// Typography
//--------------   $font-family, $file-name, $weight, $style: normal

//
$fonts: "Jost" "Jost-Light" 300 normal, "Jost" "Jost-Regular" 400 normal,
	"Jost" "Jost-Italic" 400 italic, "Jost" "Jost-SemiBold" 600 normal,
	"Jost" "Jost-Bold" 700 normal,
	"Cinzel" "Cinzel-Regular" 400 normal;

$font-family--main: "Jost", "Arial", sans-serif;
//$font-family--secondary: "Montserrat", "Arial", sans-serif;

$font-size-base: 18px;
$line-height-base: 1.5; //24px

/////////////////////////////
$default-transition-settings: 0.3s ease;

///////////////////////////////

// Viewports
//---------------------------------

$breakpoints: (
	default: "default",
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1560px,
	xxx: 1900px,
) !default;

// container max width
$containerMaxWidths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1340px,
	xxx: 1840px,
) !default;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
