.approach {
	$self: &;

	background-color: #232323;

	&__card {
		background-color: #181818;

		&::before {
			color: $color-grey2;
		}
	}

	&__heading {
		font-weight: 300;
		color: $color-default-white;
	}

	&__card-heading {
		color: $color-default-white;
	}

	&--parallax {
		background-image: url("../img/bg-our-story-2-dark.jpg");

		#{$self} {
			&__heading {
				color: $color-default-white;
			}

			&__card {
				background-color: #252b30;

				&::before {
					color: $color-default-white;
				}
			}

			&__card-heading {
				color: $color-default-white;
			}
		}
	}
}
