.approach {
	$self: &;

	background-color: #232323;

	&--technical {
		background-color: transparent;

		#{$self}__card {
			background-color: #181818;
			border-color: #181818;

			&-icon {
				svg {
					fill: $color-default-white;
				}
			}
		}

		#{$self}__header {
			@include media(lg) {
				margin-bottom: 60px;
			}
			@include media(xl) {
				margin-bottom: 90px;
			}
		}

		#{$self}__heading {
			& + * {
				margin-top: 20px;
			}
		}
	}

	&__card {
		background-color: #181818;

		&::before {
			color: $color-grey2;
		}
	}

	&__heading {
		font-weight: 300;
		color: $color-default-white;
	}

	&__card-heading {
		color: $color-default-white;
	}

	&--parallax {
		background-image: url("../img/bg-our-story-2-dark.jpg");

		#{$self} {
			&__heading {
				color: $color-default-white;
			}

			&__card {
				background-color: #252b30;

				&::before {
					color: $color-default-white;
				}
			}

			&__card-heading {
				color: $color-default-white;
			}
		}
	}
}

.webpage--beige {
	.approach {
		background-color: #232323;

		&__card {
			border: solid 1px #181818;
			background-color: #181818;

			&-icon {
				svg {
					fill: $color-bird-flower;
				}
			}

			&-heading {
				max-width: none;
				font-family: $font-family--secondary;
				color: $color-default-white;
			}
		}
	}
}
