.contact-info {
	&__icon {
		border-color: $color-default-white;

		svg {
			fill: $color-default-white;
		}
	}

	&__title {
		color: $color-default-white;
	}

	&__text,
	&__text a {
		color: $color-grey;
	}
}
