.filter {
	$self: &;

	&--technical {
		#{$self}__item {
			&:hover,
			&:focus {
				color: $color-grey3;
			}

			&--active {
				color: $color-grey3;
			}
		}
	}

	&__item {
		color: $color-default-white;

		&--active {
			color: $color-orange;
		}
	}
}
