.footer {
	$self: &;

	background-image: url("../img/footer-bg-dark.jpg");

	&__top {
		border-color: #383838;

		p {
			color: $color-grey;
		}
	}

	&__column-title {
		color: $color-default-white;
	}

	&__address,
	&__phone {
		color: $color-grey;
	}

	&__column {
		&-email {
			color: $color-default-white;
		}
		&-link {
			color: $color-grey;
		}
	}

	&__copyright {
		color: $color-grey;

		span {
			color: $color-default-white;
		}
	}

	&__design {
		color: $color-grey;

		span {
			color: $color-default-white;
		}
	}

	&__appeal {
		color: $color-default-white;
	}

	&--lite {
		background-color: #181818;
		background-image: none;

		#{$self} {
			&__copyright {
				color: $color-default-white;
			}

			&__menu-link {
				color: $color-grey;

				&:hover,
				&:focus {
					color: $color-default-white;
				}
			}
		}
	}
}
