.footer {
	$self: &;

	background-image: url("../img/footer-bg-dark.jpg");

	&__top {
		border-color: #383838;

		p {
			color: $color-grey;
		}
	}

	&__column-title {
		color: $color-default-white;
	}

	&__address,
	&__phone {
		color: $color-grey;
	}

	&__column {
		&-email {
			color: $color-default-white;
		}

		&-link {
			color: $color-grey;
		}

		&-item {
			&--current {
				#{$self}__column-link {
					color: $color-orange;
				}
			}
		}
	}

	&__copyright {
		color: $color-grey;

		span {
			color: $color-default-white;
		}
	}

	&__design {
		color: $color-grey;

		span {
			color: $color-default-white;
		}
	}

	&__appeal {
		color: $color-default-white;
	}

	&--lite {
		background-color: #181818;
		background-image: none;

		#{$self} {
			&__copyright {
				color: $color-default-white;
			}

			&__menu-link {
				color: $color-grey;

				&:hover,
				&:focus {
					color: $color-default-white;
				}
			}
		}
	}

	&--technical {
		border-top-color: $color-default-white;
		background-image: none;
		background-color: transparent;

		#{$self}__top {
			border-bottom-color: $color-default-white;
			background-color: #181818;
			background-size: cover;
			background-image: url("../img/footer-bg-dark2.jpg");

			p {
				color: $color-default-white;
			}
		}

		#{$self}__email {
			color: $color-default-white;
		}

		#{$self}__column {
			&-item--current {
				#{$self}__column-link {
					color: $color-default-white;

					&::before {
						content: "";
						display: block;
						width: 100%;
						height: 14px;
						position: absolute;
						top: 55%;
						left: 0;
						z-index: -1;
						background-color: #c1a257;
						opacity: 1;
						@include transition(opacity);
					}

					&:hover,
					&:focus {
						color: $color-default-white;
					}
				}
			}

			&-link {
				&:hover,
				&:focus {
					color: $color-default-white;

					&::before {
						background-color: #c1a257;
					}
				}
			}
		}

		#{$self}__phone {
			&:hover,
			&:focus {
				color: $color-grey3;
			}
		}
	}
}

.webpage--beige {
	.footer {
		&__column-item--current {
			.footer__column-link {
				font-weight: 600;
				color: $color-bird-flower;
			}
		}
	}
}
