.form {
	&__title {
		color: $color-default-white;
	}

	&__subtitle {
		color: $color-grey;
	}

	.underline {
		&::before,
		&::after {
			background-color: $color-default-white;
		}
	}

	&__field {
		input,
		textarea {
			color: $color-default-white;
		}
	}

	&__submit {
		@include media(lg) {
			&:hover,
			&:focus {
				background-color: #ff6d33;
				color: $color-default-white;
				border-color: #ff6d33;
			}
		}
	}
}
