.menu {
	$self: &;

	background-color: #232323;

	&__link {
		color: $color-default-white;

		&:hover,
		&:focus {
			color: $color-orange;
		}
	}

	&__item {
		&--current {
			#{$self}__link {
				color: $color-orange;
			}
		}
	}

	&__sublink {
		&:hover,
		&:focus {
			color: $color-default-white !important;
		}

		&--current {
			color: $color-default-white !important;
		}
	}

	&__copy {
		color: $color-default-white;

		span {
			color: $color-default-white;
		}
	}

	&__close svg {
		fill: $color-default-white;
	}
}

.webpage--beige {
	.menu {
		background-color: #181818;

		&__item {
			&:last-child {
				margin-bottom: 0;
			}
		}

		&__item--current {
			> a {
				color: $color-bird-flower;
			}
		}

		&__link,
		&__sublink {
			&:hover,
			&:focus {
				outline: none;
				color: $color-bird-flower !important;
			}
		}

		&__copy {
			color: $color-grey;
		}

		&__close {
			&:hover,
			&:focus {
				outline: none;

				svg {
					fill: $color-bird-flower;
				}
			}
		}
	}
}

.webpage--modern {
	.menu {
		//background-color: #181818;

		&__item--current {
			> a {
				color: $color-lemon;
			}
		}

		&__link,
		&__sublink {
			&:hover,
			&:focus {
				outline: none;
				color: $color-lemon !important;
			}
		}

		&__sublink--current {
			color: $color-lemon !important;
		}

		&__close {
			&:hover,
			&:focus {
				outline: none;

				svg {
					fill: $color-lemon;
				}
			}
		}
	}
}

.webpage--technical-drawing {
	.menu {
		//background-color: #181818;

		&__item--current {
			> a {
				color: $color-cream-brulee;
			}
		}

		&__link,
		&__sublink {
			&:hover,
			&:focus {
				outline: none;
				color: $color-cream-brulee !important;
			}
		}

		&__sublink--current {
			color: $color-cream-brulee !important;
		}

		&__close {
			&:hover,
			&:focus {
				outline: none;

				svg {
					fill: $color-cream-brulee;
				}
			}
		}
	}
}
