.navigation {
	$self: &;

	&__link {
		color: $color-default-white;
	}

	&__item::after {
		background-color: $color-grey2;
	}

	&--column {
		#{$self} {
			&__item {
				&--current {
					#{$self}__link {
						color: $color-orange;
						font-weight: 600;
					}
				}

				&:hover > a {
					color: $color-orange;
				}

				&::after {
					background-color: $color-grey2;
				}
			}

			&__link {
				color: $color-default-white;
			}
		}
	}

	&__dropdown {
		border-color: $color-default-white;
		background-color: #181818;

		&-item {
			a {
				color: $color-default-white;
			}
		}
	}
}

.webpage--beige {
	.navigation {
		&__dropdown {
			background-color: #181818;
		}
	}
}
