.our-story {
	$self: &;

	&--parallax {
		background-image: url("../img/bg-our-story-dark.jpg");

		.video-btn__text {
			color: $color-default-white;
		}

		#{$self} {
			&__heading {
				color: $color-default-white;
			}

			&__text {
				color: $color-grey;

				&--style-bolditalic {
					color: $color-default-white;
				}

				span {
					color: $color-default-white;
				}
			}

			&__btn {
				background-color: #252b30;
				border-color: #252b30;
				color: $color-orange;

				@include media(lg) {
					&:hover {
						color: $color-default-white;
					}
				}
			}
		}
	}
}
