.paginate {
	&--simple {
		.paginate__item a {
			color: $color-default-white;
		}
	}

	&--arrows {
		border-bottom-color: $color-default-white;

		.paginate__item a svg {
			fill: $color-default-white;
		}
	}

	&__text span:not(.hint) {
		color: $color-default-white;
	}
}
