.preloader {
	background-color: #232323;

	&__double-bounce {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		animation: bounce 2s infinite ease-in-out;
		opacity: 0.6;
		border-radius: 50%;
		background-color: #181818;

		&--delay {
			animation-delay: -1s;
		}
	}
}

.webpage--beige {
	.preloader {
		background-color: $color-bird-flower;

		&__double-bounce {
			background-color: $color-dark;
		}
	}
}

.webpage--modern {
	.preloader {
		&__double-bounce {
			background-color: $color-lemon;
		}
	}
}
