.project-meta {
	$self: &;

	&--table {
		#{$self}__item {
			border-bottom-color: $color-default-white;
		}
	}
	&__item {
		&-title {
			color: $color-default-white;
		}
		&-text {
			color: $color-grey;
		}
	}
}
