.social {
	$self: &;

	&--black {
		#{$self}__link {
			svg {
				fill: $color-default-white;
			}
		}
	}

	&--technical {
		#{$self}__link {
			border-color: $color-default-white;

			svg {
				fill: $color-default-white;
			}

			&:hover,
			&:focus {
				border-color: $color-default-white;

				svg {
					fill: $color-default-white;
				}
			}
		}
	}

	&__link {
		border-color: $color-grey2;

		svg {
			fill: $color-default-white;
		}
	}
}
