.statistics {
	$self: &;

	&__item-value {
		color: $color-default-white;
	}

	&__item-text {
		color: $color-grey2;
	}

	&--color-invert {
		#{$self} {
			&__item-value {
				color: $color-default-white;
			}

			&__item-text {
				color: $color-grey2;
			}
		}
	}
}

.webpage--beige {
	.statistics {
		&__item {
			&-value {
				color: $color-default-white;
			}
		}
	}
}
