.testimonials {
	&__heading {
		font-weight: 300;
		color: $color-default-white;
	}

	&__nav-btn {
		&.swiper-button-disabled {
			svg {
				fill: $color-grey2 !important;
			}
		}

		svg {
			fill: $color-default-white;
		}
	}
}
