.webpage {
	&--beige {
		background-color: #181818;

		main {
			background-color: #232323;
		}
	}

	&--modern {
		background-color: #232323;

		main {
			//background-color: transparent;
			background-color: #181818;
		}
	}
}
