.work-card {
	$self: &;

	&--grid {
		border-color: $color-default-white;

		#{$self}__content {
			border-top-color: $color-default-white;
		}

		#{$self}__button {
			border-left-color: $color-default-white;

			svg {
				fill: $color-default-white;
			}

			&:hover,
			&:focus {
				background-color: #c1a257;
				svg {
					fill: $color-default-black;
				}
			}
		}

		#{$self}__heading a {
			color: $color-default-white;
		}
	}

	&__heading a {
		color: $color-default-white;
	}
}
