mixin work-card(image, tags, heading, text)
	li.works__item.work-card.col-12.col-md-6.col-lg-4&attributes(attributes)
		a.work-card__image(href="#")
			img(src="img/works/" + image, width="460", height="310", alt="")
		.work-card__tags= tags
		h2.work-card__heading
			a(href="#")= heading
		.work-card__text= text
